{% extends "base.html.twig" %}

{% block title %}Mes favoris - Division Wiki{% endblock %}

{% block body %}
    <div class="favorites">
        <h1><i class="fa fa-gratipay"></i> Mes favoris</h1>

        <div class="favorites-tables">
            <div class="favorite-armors">
                <table id="armor-list">
                    <thead>
                        <tr class="title">
                            <th colspan="2">Armures favorites</th>
                        </tr>
                        <tr>
                            <th>Nom de l'armure</th>
                            <th>Lien</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <div class="favorite-weapons">
                <table id="weapon-list">
                    <thead>
                        <tr class="title">
                            <th colspan="2">Armes favorites</th>
                        </tr>
                        <tr>
                            <th>Nom de l'arme</th>
                            <th>Lien</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}