{% extends "admin/adminBase.html.twig" %}

{% block title %}Éditer une statistique d'armure - Division Wiki{% endblock %}

{% block body %}
    <div class="form">
        <h1>Éditer une statistique d'armure</h1>

        {{ form_start(rollForm) }}
            {{ form_widget(rollForm) }}
            <div class="btn">
                <button class="btn-form">Mettre à jour les statistiques max</button>
            </div>
        {{ form_end(rollForm) }}
    </div>
{% endblock %}