{% extends "admin/adminBase.html.twig" %}

{% block title %}Max Roll des armures - Division Wiki{% endblock %}

{% block body %}
    <div class="admin-list">
        <h1>Max Roll des armures</h1>

        <p><a href="{{ path('addMaxRollArmor') }}" title="Ajouter une statistique" class="add-link">Ajouter une statistique</a></p>

        <div class="admin-article armor-list">
            {% for roll in maxRolls %}
                <article>
                    <h2 class="premium-gear">{{ roll.gearTypeId.typeName }}</h2>
                    <div class="armor-desc">
                        <p>Dégâts d'armes : {{ roll.weaponDamage }}%</p>
                        <p>Protection : {{ roll.armor }}</p>
                        <p>Tier de compétence : {{ roll.skillTier }}</p>
                        <p>Probabilité de coup critique : {{ roll.criticalHitChance }}%</p>
                        <p>Dégâts de coup critique : {{ roll.criticalHitDamage }}%</p>
                        <p>Dégâts de headshot : {{ roll.headshotDamage }}%</p>
                        <p>Maniement d'arme : {{ roll.weaponHandling }}%</p>
                        <p>Santé : {{ roll.health }}</p>
                        <p>Régéneration de protection : {{ roll.armorRegeneration }}</p>
                        <p>Résistance Explosive : {{ roll.eplosiveResistance }}%</p>
                        <p>Protection contre les altérations d'état : {{ roll.hazardResistance }}%</p>
                        <p>Dégâts de compétences : {{ roll.skillDamage }}%</p>
                        <p>Récupération de compétence : {{ roll.skillHate }}%</p>
                        <p>Compétence de réparation : {{ roll.skillRepair }}%</p>
                        <p>Effet d'état : {{ roll.statusEffects }}%</p>
                    </div>

                    <p><a href="{{ path('editMaxRollArmor', {'id' : roll.id }) }}" title="Éditer les statistiques" class="edit-link">Éditer les statistiques</a></p>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}