{% extends "base.html.twig" %}

{% block title %}Les marques - Division Wiki{% endblock %}

{% block body %}
    <div class="list">  
        <h1>Toutes les marques</h1>
        
        <div class="brands">
            <h2>Les ensembles de marques</h2>

            <ul>
                {% for brand in brands %}
                    <li><a href="{{ path('showBrand', {'id': brand.id }) }}" title="{{ brand.name}}">{{ brand.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="gearSet">
            <h2>Les GearsSet (Ensemble d'equipement)</h2>

            <ul>
                {% for gearSet in gearSets %}
                    <li><a href="{{ path('showGearSet', {'id': gearSet.id }) }}" title="{{ gearSet.name }}">{{ gearSet.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}