{% extends "base.html.twig" %}

{% block title %}{{ brand.name }} - Division Wiki{% endblock %}

{% block body %}
    <div class="brand-details">
        <h1>{{ brand.name }}</h1>

        {% if (brand.warlord == 1) %}
            <p>Cette marque est apparue avec l'extention "Warlords of New York".</p>
            <br>
        {% endif %}

        <p>{{ brand.description }}</p>

        <hr>
        <h2>Les bonus de la marque</h2>
        <table>
            <thead>
                <th>Bonus 1 pièce</th>
                <th>Bonus 2 pièces</th>
                <th>Bonus 3 pièces</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ brand.bonus1 }}</td>
                    <td>{{ brand.bonus2 }}</td>
                    <td>{{ brand.bonus3 }}</td>
                </tr>
            </tbody>
        </table>

        <hr>
        <h2>Pièces d'armures</h2>
        <ul>
            {% for armor in armors %}
                <li><a href="{{ path('showArmor', {'id': armor.id}) }}" title="{{ armor.name }}">{{ armor.name }}</a></li>
            {% endfor %}
        </ul>

        <h2>Pièces nommées</h2>
        <ul class="named-list">
            {% for namedArmor in namedArmors %}
                <li><a href="{{ path('showNamedArmor', {'id': namedArmor.id}) }}" title="{{ namedArmor.name }}">{{ namedArmor.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}