{% extends "base.html.twig" %}

{% block title %}{{ gearSet.name }} - Division Wiki{% endblock %}

{% block body %}
    <div class="gearSet-details">
        <h1>{{ gearSet.name }}</h1>

        {% if (gearSet.warlord == 1) %}
            <p>Ce gearSet est apparu avec l'extention "Warlords of New York".</p>
            <hr>
        {% endif %}

        <h2>Les bonus de set</h2>
        <table>
            <thead>
                <th>Bonus 2 pièces</th>
                <th>Bonus 3 pièces</th>
                <th>Bonus 4 pièces</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ gearSet.bonus1 }}</td>
                    <td>{{ gearSet.bonus2 }}</td>
                    <td>{{ gearSet.bonus3 }}</td>
                </tr>
            </tbody>
        </table>

        <h4>Talent de torse</h4>
        <p class="talent">{{ gearSet.chestTalent }}</p>

        <h4>Talent de sac à dos</h4>
        <p class="talent">{{ gearSet.backpackTalent }}</p>

        <hr>
        <h2>Pièces de set</h2>
        <ul>
            {% for gearSetModel in gearSetModels %}
                <li><a href="{{ path('showGearSetModel', {'id': gearSetModel.id}) }}" title="{{ gearSetModel.name }}">{{ gearSetModel.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}