{% extends "base.html.twig" %}

{% block title %}Les armures - Division Wiki{% endblock %}

{% block body %}
    <div class="list">
        <h1>Toutes les armures</h1>

        <div class="sidebar">
            <h2>Modèles d'armures</h2>

            <ul>
                <li><a href="#armors" title="Les armures" class="armors">Les armures</a></li>
                <li><a href="#named" title="Les armures nommées" class="armors">Les armures nommées</a></li>
                <li><a href="#exotic" title="Les armures exotiques" class="exotic">Les armues exotiques</a></li>
                <li><a href="#gearSet" title="Les modèles de GearSet" class="gearSet">Les modèles de GearSet</a></li>
            </ul>
        </div>

        <div class="stats">
            <h2>MaxRoll des attributs en fonction des composants d'armures</h2>

            <table class="off">
                <thead>
                    <tr class="attr-type">
                        <th colspan="6">Attributs offensifs</th>
                    </tr>
                    <tr>
                        <th>Type d'armure</th>
                        <th>Dégâts d'armes</th>
                        <th>Probabilité de coup critique</th>
                        <th>Dégâts de coup critique</th>
                        <th>Dégâts de headshot</th>
                        <th>Maniement d'arme</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{ maxRollArmor[0].gearTypeId.typeName }}</th>
                        <td>{{ maxRollArmor[0].weaponDamage }}%</td>
                        <td>{{ maxRollArmor[0].criticalHitChance }}%</td>
                        <td>{{ maxRollArmor[0].criticalHitDamage }}%</td>
                        <td>{{ maxRollArmor[0].headshotDamage }}%</td>
                        <td>{{ maxRollArmor[0].weaponHandling }}%</td>
                    </tr>
                    <tr>
                        <th>{{ maxRollArmor[1].gearTypeId.typeName }}</th>
                        <td>{{ maxRollArmor[1].weaponDamage }}%</td>
                        <td>{{ maxRollArmor[1].criticalHitChance }}%</td>
                        <td>{{ maxRollArmor[1].criticalHitDamage }}%</td>
                        <td>{{ maxRollArmor[1].headshotDamage }}%</td>
                        <td>{{ maxRollArmor[1].weaponHandling }}%</td>
                    </tr>
                    <tr>
                        <th>{{ maxRollArmor[2].gearTypeId.typeName }}</th>
                        <td>{{ maxRollArmor[2].weaponDamage }}%</td>
                        <td>{{ maxRollArmor[2].criticalHitChance }}%</td>
                        <td>{{ maxRollArmor[2].criticalHitDamage }}%</td>
                        <td>{{ maxRollArmor[2].headshotDamage }}%</td>
                        <td>{{ maxRollArmor[2].weaponHandling }}%</td>
                    </tr>
                    <tr>
                        <th>{{ maxRollArmor[3].gearTypeId.typeName }}</th>
                        <td>{{ maxRollArmor[3].weaponDamage }}%</td>
                        <td>{{ maxRollArmor[3].criticalHitChance }}%</td>
                        <td>{{ maxRollArmor[3].criticalHitDamage }}%</td>
                        <td>{{ maxRollArmor[3].headshotDamage }}%</td>
                        <td>{{ maxRollArmor[3].weaponHandling }}%</td>
                    </tr>
                    <tr>
                        <th>{{ maxRollArmor[4].gearTypeId.typeName }}</th>
                        <td>{{ maxRollArmor[4].weaponDamage }}%</td>
                        <td>{{ maxRollArmor[4].criticalHitChance }}%</td>
                        <td>{{ maxRollArmor[4].criticalHitDamage }}%</td>
                        <td>{{ maxRollArmor[4].headshotDamage }}%</td>
                        <td>{{ maxRollArmor[4].weaponHandling }}%</td>
                    </tr>
                    <tr>
                        <th>{{ maxRollArmor[5].gearTypeId.typeName }}</th>
                        <td>{{ maxRollArmor[5].weaponDamage }}%</td>
                        <td>{{ maxRollArmor[5].criticalHitChance }}%</td>
                        <td>{{ maxRollArmor[5].criticalHitDamage }}%</td>
                        <td>{{ maxRollArmor[5].headshotDamage }}%</td>
                        <td>{{ maxRollArmor[5].weaponHandling }}%</td>
                    </tr>
                </tbody>
            </table>

            <table class="def">
                <thead>
                    <tr class="attr-type">
                        <th colspan="6">Attributs défensifs</th>
                    </tr>
                    <tr>
                        <th>Type d'armure</th>
                        <th>Protection</th>
                        <th>Santé</th>
                        <th>Récupération d'armure</th>
                        <th>Résistance - Explosions</th>
                        <th>Protection contre altérations d'état</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{ maxRollArmor[0].gearTypeId.typeName }}</th>
                        <td>{{ maxRollArmor[0].armor | integerFilter }}</td>
                        <td>{{ maxRollArmor[0].health | integerFilter }}</td>
                        <td>{{ maxRollArmor[0].armorRegeneration | integerFilter }}</td>
                        <td>{{ maxRollArmor[0].eplosiveResistance }}%</td>
                        <td>{{ maxRollArmor[0].hazardResistance }}%</td>
                    </tr>
                    <tr>
                        <th>{{ maxRollArmor[1].gearTypeId.typeName }}</th>
                        <td>{{ maxRollArmor[1].armor | integerFilter }}</td>
                        <td>{{ maxRollArmor[1].health | integerFilter }}</td>
                        <td>{{ maxRollArmor[1].armorRegeneration | integerFilter }}</td>
                        <td>{{ maxRollArmor[1].eplosiveResistance }}%</td>
                        <td>{{ maxRollArmor[1].hazardResistance }}%</td>
                    </tr>
                    <tr>
                        <th>{{ maxRollArmor[2].gearTypeId.typeName }}</th>
                        <td>{{ maxRollArmor[2].armor | integerFilter }}</td>
                        <td>{{ maxRollArmor[2].health | integerFilter }}</td>
                        <td>{{ maxRollArmor[2].armorRegeneration | integerFilter }}</td>
                        <td>{{ maxRollArmor[2].eplosiveResistance }}%</td>
                        <td>{{ maxRollArmor[2].hazardResistance }}%</td>
                    </tr>
                    <tr>
                        <th>{{ maxRollArmor[3].gearTypeId.typeName }}</th>
                        <td>{{ maxRollArmor[3].armor | integerFilter }}</td>
                        <td>{{ maxRollArmor[3].health | integerFilter }}</td>
                        <td>{{ maxRollArmor[3].armorRegeneration | integerFilter }}</td>
                        <td>{{ maxRollArmor[3].eplosiveResistance }}%</td>
                        <td>{{ maxRollArmor[3].hazardResistance }}%</td>
                    </tr>
                    <tr>
                        <th>{{ maxRollArmor[4].gearTypeId.typeName }}</th>
                        <td>{{ maxRollArmor[4].armor | integerFilter }}</td>
                        <td>{{ maxRollArmor[4].health | integerFilter }}</td>
                        <td>{{ maxRollArmor[4].armorRegeneration | integerFilter }}</td>
                        <td>{{ maxRollArmor[4].eplosiveResistance }}%</td>
                        <td>{{ maxRollArmor[4].hazardResistance }}%</td>
                    </tr>
                    <tr>
                        <th>{{ maxRollArmor[5].gearTypeId.typeName }}</th>
                        <td>{{ maxRollArmor[5].armor | integerFilter }}</td>
                        <td>{{ maxRollArmor[5].health | integerFilter }}</td>
                        <td>{{ maxRollArmor[5].armorRegeneration | integerFilter }}</td>
                        <td>{{ maxRollArmor[5].eplosiveResistance }}%</td>
                        <td>{{ maxRollArmor[5].hazardResistance }}%</td>
                    </tr>
                </tbody>
            </table>

            <table class="uti">
                <thead>
                    <tr class="attr-type">
                        <th colspan="6">Attributs utilitaires</th>
                    </tr>
                    <tr>
                        <th>Type d'armure</th>
                        <th>Tier de compétence</th>
                        <th>Récupération de compétence</th>
                        <th>Dégâts de compétence</th>
                        <th>Compétence de réparation</th>
                        <th>Effets d'état</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{ maxRollArmor[0].gearTypeId.typeName }}</th>
                        <td>{{ maxRollArmor[0].skillTier }}</td>
                        <td>{{ maxRollArmor[0].skillHate }}%</td>
                        <td>{{ maxRollArmor[0].skillDamage }}%</td>
                        <td>{{ maxRollArmor[0].skillRepair }}%</td>
                        <td>{{ maxRollArmor[0].statusEffects }}%</td>
                    </tr>
                    <tr>
                        <th>{{ maxRollArmor[1].gearTypeId.typeName }}</th>
                        <td>{{ maxRollArmor[1].skillTier }}</td>
                        <td>{{ maxRollArmor[1].skillHate }}%</td>
                        <td>{{ maxRollArmor[1].skillDamage }}%</td>
                        <td>{{ maxRollArmor[1].skillRepair }}%</td>
                        <td>{{ maxRollArmor[1].statusEffects }}%</td>
                    </tr>
                    <tr>
                        <th>{{ maxRollArmor[2].gearTypeId.typeName }}</th>
                        <td>{{ maxRollArmor[2].skillTier }}</td>
                        <td>{{ maxRollArmor[2].skillHate }}%</td>
                        <td>{{ maxRollArmor[2].skillDamage }}%</td>
                        <td>{{ maxRollArmor[2].skillRepair }}%</td>
                        <td>{{ maxRollArmor[2].statusEffects }}%</td>
                    </tr>
                    <tr>
                        <th>{{ maxRollArmor[3].gearTypeId.typeName }}</th>
                        <td>{{ maxRollArmor[3].skillTier }}</td>
                        <td>{{ maxRollArmor[3].skillHate }}%</td>
                        <td>{{ maxRollArmor[3].skillDamage }}%</td>
                        <td>{{ maxRollArmor[3].skillRepair }}%</td>
                        <td>{{ maxRollArmor[3].statusEffects }}%</td>
                    </tr>
                    <tr>
                        <th>{{ maxRollArmor[4].gearTypeId.typeName }}</th>
                        <td>{{ maxRollArmor[4].skillTier }}</td>
                        <td>{{ maxRollArmor[4].skillHate }}%</td>
                        <td>{{ maxRollArmor[4].skillDamage }}%</td>
                        <td>{{ maxRollArmor[4].skillRepair }}%</td>
                        <td>{{ maxRollArmor[4].statusEffects }}%</td>
                    </tr>
                    <tr>
                        <th>{{ maxRollArmor[5].gearTypeId.typeName }}</th>
                        <td>{{ maxRollArmor[5].skillTier }}</td>
                        <td>{{ maxRollArmor[5].skillHate }}%</td>
                        <td>{{ maxRollArmor[5].skillDamage }}%</td>
                        <td>{{ maxRollArmor[5].skillRepair }}%</td>
                        <td>{{ maxRollArmor[5].statusEffects }}%</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="armors" class="armors">
            <h2>Les armures</h2>

            <ul>
                {% for armorModel in armorModels %}
                    <li><a href="{{ path('showArmor', {'id': armorModel.id}) }}" title="{{ armorModel.name }}">{{ armorModel.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div id="named" class="named-armors">
            <h2>Les armures nommées</h2>

            <ul>
                {% for namedArmor in namedArmors %}
                    <li><a href="{{ path('showNamedArmor', {'id': namedArmor.id}) }}" title="{{ namedArmor.name}}">{{ namedArmor.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div id="exotic" class="exotic-armors">
            <h2>Les armures exotiques</h2>

            <ul>
                {% for exoticArmor in exoticArmors %}
                    <li><a href="{{ path('showExoticArmor', {'id': exoticArmor.id}) }}" title="{{ exoticArmor.name }}">{{ exoticArmor.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div id="gearSet" class="gearSet">
            <h2>Les modèles de GearSet</h2>

            <ul>
                {% for gearSetModel in gearSetModels %}
                    <li><a href="{{ path('showGearSetModel', {'id': gearSetModel.id}) }}" title="{{ gearSetModel.name }}">{{ gearSetModel.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}