{% extends "base.html.twig" %}

{% block title %}{{ gearSetModel.name }} - Division Wiki{% endblock %}

{% block body %}
    <div class="gearSet-details gearSetModel">
        <h1>{{ gearSetModel.name }}</h1>
        <h2><a href="{{ path('showGearSet', {'id': gearSetModel.gearSetId.id}) }}" title="{{ gearSetModel.gearSetId.name }}">{{ gearSetModel.gearSetId.name }}</a> - {{ gearSetModel.gearTypeId.typeName }}</h2>
        {% if is_granted("ROLE_USER") %}
            <button class="add-favorite-armor"><i class="fa fa-heart"></i> Ajouter au favoris</button>
            <p class="favorite">Armure favorite</p>
        {% endif %}

        <hr>
        <table>
            <thead>
                <th>Attribut essentiel</th>
                <th>Attribut secondaire</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ gearSetModel.mainAttribute }}</td>
                    <td>{{ gearSetModel.secondAttribute }}</td>
                </tr>
            </tbody>
        </table>

        {% if (gearSetModel.mods == 1) %}
            <p>Cette armure possède un slot pour un mod offensif, défensif ou utilitaire.</p>
        {% endif %}

        <hr>
        <h2>Les autres pièces de ce GearSet</h2>
        <ul>
            {% for gear in otherGearSets %}
                {% if (gear.id != gearSetModel.id) %}
                    <li><a href="{{ path('showGearSetModel', {'id': gear.id}) }}" title="{{ gear.name }}">{{ gear.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}