{% extends "base.html.twig" %}

{% block title %}{{ exoticArmor.name }} - Division Wiki{% endblock %}

{% block body %}
    <div class="exotic-details">
        <h1>{{ exoticArmor.name }}</h1>
        <h2>{{ exoticArmor.gearTypeId.typeName }}</h2>
        {% if is_granted("ROLE_USER") %}
            <button class="add-favorite-armor"><i class="fa fa-heart"></i> Ajouter au favoris</button>
            <p class="favorite">Armure favorite</p>
        {% endif %}

        {% if (exoticArmor.warlords == 1) %}
            <p>Cette armure exotique n'est disponible qu'avec l'extention "Warlords of New York".</p>
        {% endif %}
        
        <hr>
        <table>
            <thead>
                <th>Attribut essentiel</th>
                {% if (exoticArmor.secondAttribute1 != null) %}
                    <th>Attribut secondaire 1</th>
                {% endif %}
                {% if (exoticArmor.secondAttribute2 != null) %}
                    <th>Attribut secondaire 2</th>
                {% endif %}
            </thead>
            <tbody>
                <tr>
                    <td>{{ exoticArmor.mainAttribute }}</td>
                    {% if (exoticArmor.secondAttribute1 != null) %}
                        <td>{{ exoticArmor.secondAttribute1 }}</td>
                    {% endif %}
                    {% if (exoticArmor.secondAttribute2 != null) %}
                        <td>{{ exoticArmor.secondAttribute2 }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>

        {% if (exoticArmor.mods == 1) %}
            <p>Cette armure possède un slot pour un mod offensif, défensif ou utilitaire.</p>
        {% endif %}

        <hr>
        <h2>Talent</h2>
        <p>{{ exoticArmor.talent1 }}</p>
        {% if (exoticArmor.talent2 != null) %}
            <p>{{ exoticArmor.talent2 }}</p>
        {% endif %}
    </div>
{% endblock %}