{% extends "base.html.twig" %}

{% block title %}{{ namedArmor.name}} - Division Wiki{% endblock %}

{% block body %}
    <div class="armor-details">
        <h1>{{ namedArmor.name }}</h1>
        <h2><a href="{{ path('showBrand', {'id': namedArmor.brandId.id}) }}" title="{{ namedArmor.brandId.name }}">{{ namedArmor.brandId.name }}</a> - {{ namedArmor.gearTypeId.typeName }}</h2>
        {% if is_granted("ROLE_USER") %}
            <button class="add-favorite-armor"><i class="fa fa-heart"></i> Ajouter au favoris</button>
            <p class="favorite">Armure favorite</p>
        {% endif %}

        <hr>
        <h2>Attribut de l'armure</h2>
        <table>
            <thead>
                <th>Attribut essentiel</th>
                {% if (namedArmor.uniqueAttribute != null) %}
                    <th>Attribut unique</th>
                {% endif %}
                <th>Attribut secondaire</th>
                {% if (namedArmor.secondAttribute2 != null) %}
                    <th>Attribut secondaire 2</th>
                {% endif %}
            </thead>
            <tbody>
                <tr>
                    <td>{{ namedArmor.mainAttribute }}</td>
                    {% if (namedArmor.uniqueAttribute != null) %}
                        <td>{{ namedArmor.uniqueAttribute }}</td>
                    {% endif %}
                    <td>{{ namedArmor.secondAttribute1 }}</td>
                    {% if (namedArmor.secondAttribute2 != null) %}
                        <td>{{ namedArmor.secondAttribute2 }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>

        {% if (namedArmor.mods == 1) %}
            <p>Cette armure possède un slot pour un mod offensif, défensif ou utilitaire.</p>
        {% endif %}
        <hr>

        {% if (namedArmor.perfectTalent != null) %}
            <h2>Talent parfait</h2>
            <p>{{ namedArmor.perfectTalent }}</p>
            <hr>
        {% endif %}

        <h2>Zone d'obtention</h2>
        <p>{{ namedArmor.dropLocation }}</p>
    </div>
{% endblock %}