{% extends "base.html.twig" %}

{% block title %}{{ armor.name }} - Division Wiki{% endblock %}

{% block body %}
    <div class="armor-details">
        <h1>{{ armor.name }}</h1>
        <h2><a href="{{ path('showBrand', {'id': armor.brandId.id}) }}" title="{{ armor.brandId.name }}">{{ armor.brandId.name }}</a> - {{ armor.gearTypeId.typeName }}</h2>
        {% if is_granted("ROLE_USER") %}
            <button class="add-favorite-armor"><i class="fa fa-heart"></i> Ajouter au favoris</button>
            <p class="favorite">Armure favorite</p>
        {% endif %}

        <hr>
        <h2>Attributs de l'armure</h2>
        <table>
            <thead>
                <th>Attribut essentiel</th>
                <th>Attribut secondaire 1</th>
                <th>Attribut secondaire 2</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ armor.mainAttribute }}</td>
                    <td>{{ armor.secondAttribute1 }}</td>
                    <td>{{ armor.secondAttribute2 }}</td>
                </tr>
            </tbody>
        </table>

        {% if (armor.mods == 1) %}
            <p>Cette armure possède un slot pour un mod offensif, défensif ou utilitaire.</p>
        {% endif %}
        <hr>

        <h2>Autres pièces d'armures de la même marque</h2>
        <ul>
            {% for otherArmor in otherArmors %}
                {% if (otherArmor.name != armor.name) %}
                    <li><a href="{{ path('showArmor', {'id': otherArmor.id}) }}" title="{{ otherArmor.name }}">{{ otherArmor.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}