{% extends "admin/adminBase.html.twig" %}

{% block title %}Ajouter un Gear Set - Division Wiki{% endblock %}

{% block body %}
    <div class="form">
        <h1>Ajouter un Gear Set</h1>

        {{ form_start(gearForm) }}
            {{ form_widget(gearForm) }}
            <div class="btn">
                <button class="btn-form">Ajouter le gear set</button>
            </div>
        {{ form_end(gearForm) }}
    </div>
{% endblock %}