{% extends "admin/adminBase.html.twig" %}

{% block title %}Éditer un GearSet - Division Wiki{% endblock %}

{% block body %}
    <div class="form">
        <h1>Éditer un GearSet</h1>

        {{ form_start(gearForm) }}
            {{ form_widget(gearForm) }}
            <div class="btn">
                <button class="btn-form">Mettre à jour le GearSet</button>
            </div>
        {{ form_end(gearForm) }}
    </div>
{% endblock %}