{% extends "admin/adminBase.html.twig" %}

{% block title %}Tous les GearSet - Division Wiki{% endblock %}

{% block body %}
    <div class="admin-list">
        <h1>Tous les GearSet</h1>

        <p><a href="{{ path('addGearSet') }}" title="Ajouter un GearSet" class="add-link-gearset">Ajouter un GearSet</a></p>

        <div class="admin-article gearset-list">
            {% for gearSet in gearSets %}
                <article>
                    <h3>{{ gearSet.name }}</h3>
                    <div class="brand-bonus">
                        <p>Bonus 2 pièces : {{ gearSet.bonus1 }}</p>
                        <p>Bonus 3 pièces : {{ gearSet.bonus2 }}</p>
                        <p>Bonus 4 pièces : <br> 
                            {{ gearSet.bonus3 }}
                        </p>
                        <p>Talent de torse : <br>
                            {{ gearSet.chestTalent }}
                        </p>
                        <p>Talent de sac à dos : <br>
                            {{ gearSet.backpackTalent }}
                        </p>
                        {% if (gearSet.warlord) == 0 %}
                            <p>Ensemble disponible dans le jeu de base</p>
                        {% elseif (gearSet.warlord) == 1 %}
                            <p>Ensemble apparu avec Warlords Of New York</p>                         
                        {% endif %}
                    </div>
                    <p><a href="{{ path('editGearSet', { 'id': gearSet.id }) }}" title="Éditer le GearSet" class="edit-link">Éditer le GearSet</a></p>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}