{% extends "admin/adminBase.html.twig" %}

{% block title %}Liste des armes - Division Wiki{% endblock %}

{% block body %}
    <div class="admin-list">
        <h1>Toutes les armes</h1>

        <p><a href="{{ path('addWeaponModel') }}" title="Ajouter une arme" class="add-link">Ajouter une arme</a></p>


        <div class="admin-sidebar">
            <h2 class="premium-gear">Type d'armes</h2>
            <ul>
                <li><a href="#shotgun" title="Les fusils calibre 12">Les fusils calibre 12</a></li>
                <li><a href="#rifle" title="Les fusils">Les fusils</a></li>
                <li><a href="#assaultRifle" title="Les fusils d'assaut">Les fusils d'assaut</a></li>
                <li><a href="#lightMachineGun" title="Les fusil mitrailleur">Les fusil mitrailleur</a></li>
                <li><a href="#marksmanRifle" title="Les fusils de précision">Les fusils de précision</a></li>
                <li><a href="#pistol" title="Les pistolets">Les pistolets</a></li>
                <li><a href="#subMachineGun" title="Les pistolets-mitrailleurs">Les pistolets-mitrailleurs</a></li>
            </ul>
        </div>

        <div class="admin-article">
            <div class="weapon-list">
                <h2 id="shotgun" class="premium-gear">Les fusils calibre 12</h2>
                {% for shotgun in shotguns %}
                    <article>
                        <h3>{{ shotgun.name }}</h3>
                        <div class="weapon-desc">
                            <h4>{{ shotgun.variantWeapon }}</h4>
                            <p>Dégâts de base : {{ shotgun.baseDamage }}</p>
                            <p>Portée optimale : {{ shotgun.optimalRange }}m</p>
                            <p>Cadence de tir : {{ shotgun.rpm }}</p>
                            <p>Taille du chargeur : {{ shotgun.magSize }} balles</p>
                            <p>Vitesse de rechargement : {{ shotgun.reloadSpeed }}s</p>
                            <p>Multiplicateur de headshot : {{ shotgun.headshotMultiplicator }}%</p>
                            <p>Attribut essentiel spécifique : {{ shotgun.bonusMaxRoll }}% {{ shotgun.weaponBonus }}</p>
                        </div>
                        <p><a href="{{ path('editWeaponModel', {'id': shotgun.id }) }}" title="Éditer l'arme" class="edit-link">Éditer l'arme</a></p>
                    </article>
                {% endfor %}
            </div>

            <div class="weapon-list">
                <h2 id="rifles" class="premium-gear">Les fusils</h2>
                {% for rifle in rifles %}
                    <article>
                        <h3>{{ rifle.name }}</h3>
                        <div class="weapon-desc">
                            <h4>{{ rifle.variantWeapon }}</h4>
                            <p>Dégâts de base : {{ rifle.baseDamage }}</p>
                            <p>Portée optimale : {{ rifle.optimalRange }}m</p>
                            <p>Cadence de tir : {{ rifle.rpm }}</p>
                            <p>Taille du chargeur : {{ rifle.magSize }} balles</p>
                            <p>Vitesse de rechargement : {{ rifle.reloadSpeed }}s</p>
                            <p>Multiplicateur de headshot : {{ rifle.headshotMultiplicator }}%</p>
                            <p>Attribut essentiel spécifique : {{ rifle.bonusMaxRoll }}% {{ rifle.weaponBonus }}</p>
                        </div>
                        <p><a href="{{ path('editWeaponModel', {'id': rifle.id }) }}" title="Éditer l'arme" class="edit-link">Éditer l'arme</a></p>
                    </article>
                {% endfor %}
            </div>

            <div class="weapon-list">
                <h2 id="assaultRifle" class="premium-gear">Les fusils d'assaut</h2>
                {% for assaultRifle in assaultRifles %}
                    <article>
                        <h3>{{ assaultRifle.name }}</h3>
                        <div class="weapon-desc">
                            <h4>{{ assaultRifle.variantWeapon }}</h4>
                            <p>Dégâts de base : {{ assaultRifle.baseDamage }}</p>
                            <p>Portée optimale : {{ assaultRifle.optimalRange }}m</p>
                            <p>Cadence de tir : {{ assaultRifle.rpm }}</p>
                            <p>Taille du chargeur : {{ assaultRifle.magSize }} balles</p>
                            <p>Vitesse de rechargement : {{ assaultRifle.reloadSpeed }}s</p>
                            <p>Multiplicateur de headshot : {{ assaultRifle.headshotMultiplicator }}%</p>
                            <p>Attribut essentiel spécifique : {{ assaultRifle.bonusMaxRoll }}% {{ assaultRifle.weaponBonus }}</p>
                        </div>
                        <p><a href="{{ path('editWeaponModel', {'id': assaultRifle.id }) }}" title="Éditer l'arme" class="edit-link">Éditer l'arme</a></p>
                    </article>
                {% endfor %}
            </div>

            <div class="weapon-list">
                <h2 id="lightMachineGun" class="premium-gear">Les fusils mitrailleurs</h2>
                {% for lightMachineGun in lightMachineGuns %}
                    <article>
                        <h3>{{ lightMachineGun.name }}</h3>
                        <div class="weapon-desc">
                            <h4>{{ lightMachineGun.variantWeapon }}</h4>
                            <p>Dégâts de base : {{ lightMachineGun.baseDamage }}</p>
                            <p>Portée optimale : {{ lightMachineGun.optimalRange }}m</p>
                            <p>Cadence de tir : {{ lightMachineGun.rpm }}</p>
                            <p>Taille du chargeur : {{ lightMachineGun.magSize }} balles</p>
                            <p>Vitesse de rechargement : {{ lightMachineGun.reloadSpeed }}s</p>
                            <p>Multiplicateur de headshot : {{ lightMachineGun.headshotMultiplicator }}%</p>
                            <p>Attribut essentiel spécifique : {{ lightMachineGun.bonusMaxRoll }}% {{ lightMachineGun.weaponBonus }}</p>
                        </div>
                        <p><a href="{{ path('editWeaponModel', {'id': lightMachineGun.id }) }}" title="Éditer l'arme" class="edit-link">Éditer l'arme</a></p>
                    </article>
                {% endfor %}
            </div>

            <div class="weapon-list">
                <h2 id="marksmanRifle" class="premium-gear">Les fusils de précision</h2>
                {% for marksmanRifle in marksmanRifles %}
                    <article>
                        <h3>{{ marksmanRifle.name }}</h3>
                        <div class="weapon-desc">
                            <h4>{{ marksmanRifle.variantWeapon }}</h4>
                            <p>Dégâts de base : {{ marksmanRifle.baseDamage }}</p>
                            <p>Portée optimale : {{ marksmanRifle.optimalRange }}m</p>
                            <p>Cadence de tir : {{ marksmanRifle.rpm }}</p>
                            <p>Taille du chargeur : {{ marksmanRifle.magSize }} balles</p>
                            <p>Vitesse de rechargement : {{ marksmanRifle.reloadSpeed }}s</p>
                            <p>Multiplicateur de headshot : {{ marksmanRifle.headshotMultiplicator }}%</p>
                            <p>Attribut essentiel spécifique : {{ marksmanRifle.bonusMaxRoll }}% {{ marksmanRifle.weaponBonus }}</p>
                        </div>
                        <p><a href="{{ path('editWeaponModel', {'id': marksmanRifle.id }) }}" title="Éditer l'arme" class="edit-link">Éditer l'arme</a></p>
                    </article>
                {% endfor %}
            </div>

            <div class="weapon-list">
                <h2 id="pistol" class="premium-gear">Les pistolets</h2>
                {% for pistol in pistols %}
                    <article>
                        <h3>{{ pistol.name }}</h3>
                        <div class="weapon-desc">
                            <h4>{{ pistol.variantWeapon }}</h4>
                            <p>Dégâts de base : {{ pistol.baseDamage }}</p>
                            <p>Portée optimale : {{ pistol.optimalRange }}m</p>
                            <p>Cadence de tir : {{ pistol.rpm }}</p>
                            <p>Taille du chargeur : {{ pistol.magSize }} balles</p>
                            <p>Vitesse de rechargement : {{ pistol.reloadSpeed }}s</p>
                            <p>Multiplicateur de headshot : {{ pistol.headshotMultiplicator }}%</p>
                        </div>
                        <p><a href="{{ path('editWeaponModel', {'id': pistol.id }) }}" title="Éditer l'arme" class="edit-link">Éditer l'arme</a></p>
                    </article>
                {% endfor %}
            </div>

            <div class="weapon-list">
                <h2 id="subMachineGun" class="premium-gear">Les pistolets-mitrailleurs</h2>
                {% for subMachineGun in subMachineGuns %}
                    <article>
                        <h3>{{ subMachineGun.name }}</h3>
                        <div class="weapon-desc">
                            <h4>{{ subMachineGun.variantWeapon }}</h4>
                            <p>Dégâts de base : {{ subMachineGun.baseDamage }}</p>
                            <p>Portée optimale : {{ subMachineGun.optimalRange }}m</p>
                            <p>Cadence de tir : {{ subMachineGun.rpm }}</p>
                            <p>Taille du chargeur : {{ subMachineGun.magSize }} balles</p>
                            <p>Vitesse de rechargement : {{ subMachineGun.reloadSpeed }}s</p>
                            <p>Multiplicateur de headshot : {{ subMachineGun.headshotMultiplicator }}%</p>
                            <p>Attribut essentiel spécifique : {{ subMachineGun.bonusMaxRoll }}% {{ subMachineGun.weaponBonus }}</p>
                        </div>
                        <p><a href="{{ path('editWeaponModel', {'id': subMachineGun.id }) }}" title="Éditer l'arme" class="edit-link">Éditer l'arme</a></p>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}