{% extends "admin/adminBase.html.twig" %}

{% block title %}Liste des modèles de GearSet - Division Wiki{% endblock %}

{% block body %}
    <div class="admin-list">
        <h1>Tous les modèles de GearSet</h1>

        <p><a href="{{ path('addGearSetModel') }}" title="Ajouter un modèle de GearSet" class="add-link-gearset">Ajouter un modèle de GearSet</a></p>

        <div class="admin-sidebar">
            <h2 class="gearSet">Type d'armures</h2>
            <ul>
                <li><a href="#masks" title="Les masques">Les masques</a></li>
                <li><a href="#chest" title="Les torses">Les torses</a></li>
                <li><a href="#backpack" title="Les sac à dos">Les sac à dos</a></li>
                <li><a href="#gloves" title="Les gants">Les gants</a></li>
                <li><a href="#holster" title="Les holsters">Les holsters</a></li>
                <li><a href="#kneepads" title="Les genouillères">Les genouillères</a></li>
            </ul>
        </div>

        <div class="admin-article armor-list">
            <div class="gear-list">
                <h2 id="masks" class="gearSet">Les masques</h2>
                {% for mask in masks %}
                    <article>
                        <h3>{{ mask.name }}</h3>
                        <div class="armor-desc">
                            <h4>{{ mask.gearSetId.name }}</h4>
                            <p>Attribut principal : {{ mask.mainAttribute }}</p>
                            <p>Attribut secondaire : {{ mask.secondAttribute }}</p>
                            <p>Mods : 
                                {% if (mask.mods == 0) %}
                                    Non
                                {% else %}
                                    Oui
                                {% endif %}
                            </p>
                        </div>
                        <p><a href="{{ path('editGearSetModel', {'id' : mask.id }) }}" title="Éditer l'armure" class="edit-link">Éditer l'armure</a></p>
                    </article>
                {% endfor %}
            </div>
            <div class="gear-list">
                <h2 id="chest" class="gearSet">Les torses</h2>
                {% for chest in chests %}
                    <article>
                        <h3>{{ chest.name }}</h3>
                        <div class="armor-desc">
                            <h4>{{ chest.gearSetId.name }}</h4>
                            <p>Attribut principal : {{ chest.mainAttribute }}</p>
                            <p>Attribut secondaire : {{ chest.secondAttribute }}</p>
                            <p>Mods : 
                                {% if (chest.mods == 0) %}
                                    Non
                                {% else %}
                                    Oui
                                {% endif %}
                            </p>
                        </div>
                        <p><a href="{{ path('editGearSetModel', {'id' : chest.id }) }}" title="Éditer l'armure" class="edit-link">Éditer l'armure</a></p>
                    </article>
                {% endfor %}
            </div>
            <div class="gear-list">
                <h2 id="backpack" class="gearSet">Les sac à dos</h2>
                {% for backpack in backpacks %}
                    <article>
                        <h3>{{ backpack.name }}</h3>
                        <div class="armor-desc">
                            <h4>{{ backpack.gearSetId.name }}</h4>
                            <p>Attribut principal : {{ backpack.mainAttribute }}</p>
                            <p>Attribut secondaire : {{ backpack.secondAttribute }}</p>
                            <p>Mods : 
                                {% if (backpack.mods == 0) %}
                                    Non
                                {% else %}
                                    Oui
                                {% endif %}
                            </p>
                        </div>
                        <p><a href="{{ path('editGearSetModel', {'id' : backpack.id }) }}" title="Éditer l'armure" class="edit-link">Éditer l'armure</a></p>
                    </article>
                {% endfor %}
            </div>
            <div class="gear-list">
                <h2 id="gloves" class="gearSet">Les gants</h2>
                {% for glove in gloves %}
                    <article>
                        <h3>{{ glove.name }}</h3>
                        <div class="armor-desc">
                            <h4>{{ glove.gearSetId.name }}</h4>
                            <p>Attribut principal : {{ glove.mainAttribute }}</p>
                            <p>Attribut secondaire : {{ glove.secondAttribute }}</p>
                            <p>Mods : 
                                {% if (glove.mods == 0) %}
                                    Non
                                {% else %}
                                    Oui
                                {% endif %}
                            </p>
                        </div>
                        <p><a href="{{ path('editGearSetModel', {'id' : glove.id }) }}" title="Éditer l'armure" class="edit-link">Éditer l'armure</a></p>
                    </article>
                {% endfor %}
            </div>
            <div class="gear-list">
                <h2 id="holster" class="gearSet">Les holsters</h2>
                {% for holster in holsters %}
                    <article>
                        <h3>{{ holster.name }}</h3>
                        <div class="armor-desc">
                            <h4>{{ holster.gearSetId.name }}</h4>
                            <p>Attribut principal : {{ holster.mainAttribute }}</p>
                            <p>Attribut secondaire : {{ holster.secondAttribute }}</p>
                            <p>Mods : 
                                {% if (holster.mods == 0) %}
                                    Non
                                {% else %}
                                    Oui
                                {% endif %}
                            </p>
                        </div>
                        <p><a href="{{ path('editGearSetModel', {'id' : holster.id }) }}" title="Éditer l'armure" class="edit-link">Éditer l'armure</a></p>
                    </article>
                {% endfor %}
            </div>
            <div class="gear-list">
                <h2 id="kneepads" class="gearSet">Les genouillères</h2>
                {% for kneepad in kneepads %}
                    <article>
                        <h3>{{ kneepad.name }}</h3>
                        <div class="armor-desc">
                            <h4>{{ kneepad.gearSetId.name }}</h4>
                            <p>Attribut principal : {{ kneepad.mainAttribute }}</p>
                            <p>Attribut secondaire : {{ kneepad.secondAttribute }}</p>
                            <p>Mods : 
                                {% if (kneepad.mods == 0) %}
                                    Non
                                {% else %}
                                    Oui
                                {% endif %}
                            </p>
                        </div>
                        <p><a href="{{ path('editGearSetModel', {'id' : kneepad.id }) }}" title="Éditer l'armure" class="edit-link">Éditer l'armure</a></p>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}