<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block description %}Site d'informations sur le jeu Tom Clancy's The Division 2{% endblock %}">
            <title>{% block title %}Administration - Division Wiki{% endblock %}</title>
            <link rel="shortcut icon" href="{{ asset('img/Icone DW.png') }}" type="image/x-icon">
            {# Run `composer require symfony/webpack-encore-bundle`
            and uncomment the following Encore helpers to start using Symfony UX #}
            {% block stylesheets %}
                {{ encore_entry_link_tags('app') }}
            {% endblock %}

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
                {{ encore_entry_script_tags('admin') }}
            {% endblock %}
    </head>

    <body>
        {% include "admin/includes/_adminHeader.html.twig" %}

        <main class="main-admin">
            {% block body %}{% endblock %}    
        </main>
    </body>
</html>