{% extends "admin/adminBase.html.twig" %}

{% block title %}Liste des armures nommées - Division Wiki{% endblock %}

{% block body %}
    <div class="admin-list">
        <h1>Toutes les armures nommées</h1>

        <p><a href="{{ path('addNamedArmor') }}" title="Ajouter un armure nommée" class="add-link">Ajouter une armure nommée</a></p>

        <div class="admin-sidebar">
            <h2 class="premium-gear">Type d'armures</h2>
            <ul>
                <li><a href="#masks" title="Les masques">Les masques</a></li>
                <li><a href="#chest" title="Les torses">Les torses</a></li>
                <li><a href="#backpack" title="Les sac à dos">Les sac à dos</a></li>
                <li><a href="#gloves" title="Les gants">Les gants</a></li>
                <li><a href="#holster" title="Les holsters">Les holsters</a></li>
                <li><a href="#kneepads" title="Les genouillères">Les genouillères</a></li>
            </ul>
        </div>

        <div class="admin-article armor-list">
            <div class="gear-list">
                <h2 id="masks" class="premium-gear">Les masques</h2>
                {% for mask in masks %}
                    <article>
                        <h3>{{ mask.name }}</h3>
                        <div class="armor-desc">
                            <h4>{{ mask.brandId.name }}</h4>
                            <p>Attribut principal : {{ mask.mainAttribute }}</p>
                            {% if (mask.uniqueAttribute) != null %}
                                <p>Attribut unique : {{ mask.uniqueAttribute }}</p>
                            {% endif %}
                            <p>Attribut secondaire : {{ mask.secondAttribute1 }}</p>
                            {% if (mask.secondAttribute2 != null) %}
                                <p>Attribut secondaire 2 : {{ mask.secondAttribute2 }}</p>
                            {% endif %}
                            <p>Mods : 
                                {% if (mask.mods == 0) %}
                                    Non
                                {% else %}
                                    Oui
                                {% endif %}
                            </p>
                            <p>Zone d'obtention: {{ mask.dropLocation }}
                            </p>
                        </div>
                        <p><a href="{{ path('editNamedArmor', {'id' : mask.id }) }}" title="Éditer l'armure" class="edit-link">Éditer l'armure</a></p>
                    </article>
                {% endfor %}
            </div>
            <div class="gear-list">
                <h2 id="chest" class="premium-gear">Les torses</h2>
                {% for chest in chests %}
                    <article>
                        <h3>{{ chest.name }}</h3>
                        <div class="armor-desc">
                            <h4>{{ chest.brandId.name }}</h4>
                            <p>Attribut principal : {{ chest.mainAttribute }}</p>
                            <p>Attribut secondaire : {{ chest.secondAttribute1 }}</p>
                            {% if (chest.secondAttribute2 != null) %}
                                <p>Attribut secondaire 2 : {{ chest.secondAttribute2 }}</p>
                            {% endif %}
                            <p>Talent parfait: <br>
                                {{ chest.perfectTalent }}
                            </p>
                            <p>Mods : 
                                {% if (chest.mods == 0) %}
                                    Non
                                {% else %}
                                    Oui
                                {% endif %}
                            </p>
                            <p>Zone d'obtention: {{ chest.dropLocation }}
                            </p>
                        </div>
                        <p><a href="{{ path('editNamedArmor', {'id' : chest.id }) }}" title="Éditer l'armure" class="edit-link">Éditer l'armure</a></p>
                    </article>
                {% endfor %}
            </div>
            <div class="gear-list">
                <h2 id="backpack" class="premium-gear">Les sac à dos</h2>
                {% for backpack in backpacks %}
                    <article>
                        <h3>{{ backpack.name }}</h3>
                        <div class="armor-desc">
                            <h4>{{ backpack.brandId.name }}</h4>
                            <p>Attribut principal : {{ backpack.mainAttribute }}</p>
                            <p>Attribut secondaire : {{ backpack.secondAttribute1 }}</p>
                            {% if (backpack.secondAttribute2 != null) %}
                                <p>Attribut secondaire 2 : {{ backpack.secondAttribute2 }}</p>
                            {% endif %}
                            <p>Talent parfait: <br>
                                {{ backpack.perfectTalent }}
                            </p>
                            <p>Mods : 
                                {% if (backpack.mods == 0) %}
                                    Non
                                {% else %}
                                    Oui
                                {% endif %}
                            </p>
                            <p>Zone d'obtention: {{ backpack.dropLocation }}
                            </p>
                        </div>
                        <p><a href="{{ path('editNamedArmor', {'id' : backpack.id }) }}" title="Éditer l'armure" class="edit-link">Éditer l'armure</a></p>
                    </article>
                {% endfor %}
            </div>
            <div class="gear-list">
                <h2 id="gloves" class="premium-gear">Les gants</h2>
                {% for glove in gloves %}
                    <article>
                        <h3>{{ glove.name }}</h3>
                        <div class="armor-desc">
                            <h4>{{ glove.brandId.name }}</h4>
                            <p>Attribut principal : {{glove.mainAttribute }}</p>
                            {% if (glove.uniqueAttribute) != null %}
                                <p>Attribut unique : {{ glove.uniqueAttribute }}</p>
                            {% endif %}
                            <p>Attribut secondaire : {{ glove.secondAttribute1 }}</p>
                            {% if (glove.secondAttribute2 != null) %}
                                <p>Attribut secondaire 2 : {{ glove.secondAttribute2 }}</p>
                            {% endif %}
                            <p>Mods : 
                                {% if (glove.mods == 0) %}
                                    Non
                                {% else %}
                                    Oui
                                {% endif %}
                            </p>
                            <p>Zone d'obtention: {{ glove.dropLocation }}
                            </p>
                        </div>
                        <p><a href="{{ path('editNamedArmor', {'id' : glove.id }) }}" title="Éditer l'armure" class="edit-link">Éditer l'armure</a></p>
                    </article>
                {% endfor %}
            </div>
            <div class="gear-list">
                <h2 id="holster" class="premium-gear">Les holsters</h2>
                {% for holster in holsters %}
                    <article>
                        <h3>{{ holster.name }}</h3>
                        <div class="armor-desc">
                            <h4>{{ holster.brandId.name }}</h4>
                            <p>Attribut principal : {{ holster.mainAttribute }}</p>
                            {% if (holster.uniqueAttribute) != null %}
                                <p>Attribut unique : {{ holster.uniqueAttribute }}</p>
                            {% endif %}
                            <p>Attribut secondaire : {{ holster.secondAttribute1 }}</p>
                            {% if (holster.secondAttribute2 != null) %}
                                <p>Attribut secondaire 2 : {{ holster.secondAttribute2 }}</p>
                            {% endif %}
                            <p>Mods : 
                                {% if (holster.mods == 0) %}
                                    Non
                                {% else %}
                                    Oui
                                {% endif %}
                            </p>
                            <p>Zone d'obtention: {{ holster.dropLocation }}
                            </p>
                        </div>
                        <p><a href="{{ path('editNamedArmor', {'id' : holster.id }) }}" title="Éditer l'armure" class="edit-link">Éditer l'armure</a></p>
                    </article>
                {% endfor %}
            </div>
            <div class="gear-list">
                <h2 id="kneepads" class="premium-gear">Les genouillères</h2>
                {% for kneepad in kneepads %}
                    <article>
                        <h3>{{ kneepad.name }}</h3>
                        <div class="armor-desc">
                            <h4>{{ kneepad.brandId.name }}</h4>
                            <p>Attribut principal : {{ kneepad.mainAttribute }}</p>
                            {% if (kneepad.uniqueAttribute) != null %}
                                <p>Attribut unique : {{ kneepad.uniqueAttribute }}</p>
                            {% endif %}
                            <p>Attribut secondaire : {{ kneepad.secondAttribute1 }}</p>
                            {% if (kneepad.secondAttribute2 != null) %}
                                <p>Attribut secondaire 2 : {{ kneepad.secondAttribute2 }}</p>
                            {% endif %}
                            <p>Mods : 
                                {% if (kneepad.mods == 0) %}
                                    Non
                                {% else %}
                                    Oui
                                {% endif %}
                            </p>
                            <p>Zone d'obtention: {{ kneepad.dropLocation }}
                            </p>
                        </div>
                        <p><a href="{{ path('editNamedArmor', {'id' : kneepad.id }) }}" title="Éditer l'armure" class="edit-link">Éditer l'armure</a></p>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}