<footer>
    <img src="{{ asset('img/Logo DW.png') }}" alt="Logo site Division Wiki">
    
    <div>
        <section class="donnees">
            <h2>Données de jeu</h2>
            <ul>
                <li class="menu-item"><a href="{{ path('allBrands') }}" title="Les marques">Les marques</a></li>
                <li class="menu-item"><a href="{{ path('allWeapons') }}" title="Les armes">Les armes</a></li>
                <li class="menu-item"><a href="{{ path('allArmors') }}" title="Les armures">Les armures</a></li>
                <li class="menu-item"><a href="{{ path('allTalents') }}" title="Les talents">Les talents</a></li>
            </ul>
        </section>

        <section class="stats">
            <h2><a href="{{ path('playerStats') }}" title="Statistiques joueur">Statistiques joueur</a></h2>
        </section>

        <section class="connexion">
            <h2><a href="{{ path('login') }}" title="Connexion">Connexion</a></h2>
        </section>
    </div>
</footer>