<header>
    <a href="{{ path('home') }}"><img src="{{ asset('img/Logo DW.png') }}" alt="Logo de Division Wiki"></a>
    <nav>
        <ul class="first-menu">
            <li class="menu-item donnees dropdown">
                <a href="#">Données de jeu <i class="fa fa-chevron-down"></i></a>
                <div id="game-informations" class="sub-menu">
                    <ul class="first-sub-menu">
                        <li class="menu-item"><a href="{{ path('allBrands') }}" title="Les marques">Les marques</a></li>
                        <li class="menu-item"><a href="{{ path('allWeapons') }}" title="Les armes">Les armes</a></li>
                        <li class="menu-item"><a href="{{ path('allArmors') }}" title="Les armures">Les armures</a></li>
                        <li class="menu-item"><a href="{{ path('allTalents') }}" title="Les talents">Les talents</a></li>
                    </ul>
                </div>   
            </li>
            <li class="menu-item"><a href="{{ path('playerStats') }}" title="Statistiques joueur">Statistiques joueur</a></li>
            {# <li class="menu-item"><a href="#">Forum</a></li> #}
            {# <li class="menu-item"><a href="#">Contact</a></li> #}
            {% if (app.user) == null %}
                <li class="menu-item"><a href="{{ path('register') }}" title="S'enregistrer">S'enregistrer</a></li>
                <li class="menu-item"><a href="{{ path('login') }}" title="Connexion">Connexion</a></li>
            {% else %}
                <li class="menu-item"><a href="{{ path('logout') }}" title="Déconnexion">Déconnexion</a></li>
                <li class="menu-item compte dropdown">
                    <a href="#">Mon compte <i class="fa fa-chevron-down"></i></a>
                    <div id="user-informations" class="sub-menu">
                        <ul class="second-sub-menu">
                            <li class="menu-item"><a href="{{ path('showUserInformations', {'id': app.user.id }) }}" title="Mes informations">Mes informations</a></li>
                            <li class="menu-item"><a href="{{ path('showFavorites') }}" title="Mes favoris">Mes favoris</a></li>
                        </ul>
                    </div>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>