<form method="post" action="{{ path('deleteUserAccount', {'id': user.id}) }}" onsubmit="return confirm('Souhaitez-vous vraiment supprimer votre compte (cette action est définitive) ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button>Supprimer mon compte</button>
</form>