{% extends "base.html.twig" %}

{% block title %}Éditer mes informations - Division Wiki{% endblock %}

{% block body %}
    <div class="form">
        <h1><i class="fa fa-edit"></i> Editer mes informations</h1>

        {{ form_start(userForm) }}
            {{ form_widget(userForm) }}
            <div class="btn">
                <button class="btn-form">Mettre à jour mes informations</button>
            </div>
        {{ form_end(userForm) }}
    </div>
{% endblock %}