{% extends "base.html.twig" %}

{% block title %}Mes informations - Division Wiki{% endblock %}

{% block body %}
    <div class="account">
        <h1><i class="fa fa-id-badge"></i> Mes informations</h1>

        <div class="infos">
            <h2>{{ user.username }}</h2>

            <p>{{ user.firstName }} {{ user.lastName }}</p>
            <p>{{ user.email }}</p>

            <div class="btn">
                <a href="{{ path('editUserInformations', {'id': user.id}) }}" title="Éditer mes informations">Éditer mes informations</a>
                {% include "user/account/_delete_form.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}