{% extends "admin/adminBase.html.twig" %}

{% block title %}Ajouter un talent d'arme - Division Wiki{% endblock %}

{% block body %}
    <div class="form">
        <h1>Ajouter un talent d'arme</h1>

        {{ form_start(talentForm) }}
            {{ form_widget(talentForm) }}
            <div class="btn">
                <button class="btn-form">Ajouter le talent</button>
            </div>
        {{ form_end(talentForm) }}
    </div>
{% endblock %}