{% extends "admin/adminBase.html.twig" %}

{% block title %}Les talents d'armes - Division Wiki{% endblock %}

{% block body %}
    <div class="admin-list">
        <h1>Tous les talents d'armes</h1>

        <p><a href="{{ path('addWeaponTalent') }}" title="Ajouter un talent d'arme" class="add-link-talent">Ajouter un talent d'arme</a></p>

        <div class="admin-article">
            {% for talent in talents %}
                <article>
                    <h3>{{ talent.name }} ({{ talent.nameEng }})</h3>
                    <div class="talent-desc">
                        <p>{{ talent.description }}</p>
                        {% if (talent.requirements) != null %}
                            <p>{{ talent.requirements }}</p>
                        {% endif %}
                        <table>
                            <thead>
                                <th>Fusil</th>
                                <th>Pompe</th>
                                <th>AR</th>
                                <th>LMG</th>
                                <th>Sniper</th>
                                <th>Pistolet</th>
                                <th>SMG</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="{% if (talent.rifle == 1) %}yes{% else %}no{% endif %}">
                                        {% if (talent.rifle == 1) %}
                                            <i class="fa fa-check"></i>
                                        {% else %}
                                            <i class="fa fa-times"></i>
                                        {% endif %}
                                    </td>
                                    <td class="{% if (talent.shotgun == 1) %}yes{% else %}no{% endif %}">
                                        {% if (talent.shotgun == 1) %}
                                            <i class="fa fa-check"></i>
                                        {% else %}
                                            <i class="fa fa-times"></i>
                                        {% endif %}
                                    </td>
                                    <td class="{% if (talent.assaultRifle == 1) %}yes{% else %}no{% endif %}">
                                        {% if (talent.assaultRifle == 1) %}
                                            <i class="fa fa-check"></i>
                                        {% else %}
                                            <i class="fa fa-times"></i>
                                        {% endif %}
                                    </td>
                                    <td class="{% if (talent.lightMachineGun == 1) %}yes{% else %}no{% endif %}">
                                        {% if (talent.lightMachineGun == 1) %}
                                            <i class="fa fa-check"></i>
                                        {% else %}
                                            <i class="fa fa-times"></i>
                                        {% endif %}
                                    </td>
                                    <td class="{% if (talent.marksmanRifle == 1) %}yes{% else %}no{% endif %}">
                                        {% if (talent.marksmanRifle == 1) %}
                                            <i class="fa fa-check"></i>
                                        {% else %}
                                            <i class="fa fa-times"></i>
                                        {% endif %}
                                    </td>
                                    <td class="{% if (talent.pistol == 1) %}yes{% else %}no{% endif %}">
                                        {% if (talent.pistol == 1) %}
                                            <i class="fa fa-check"></i>
                                        {% else %}
                                            <i class="fa fa-times"></i>
                                        {% endif %}
                                    </td>
                                    <td class="{% if (talent.subMachineGun == 1) %}yes{% else %}no{% endif %}">
                                        {% if (talent.subMachineGun == 1) %}
                                            <i class="fa fa-check"></i>
                                        {% else %}
                                            <i class="fa fa-times"></i>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p><a href="{{ path('editWeaponTalent', { 'id': talent.id }) }}" title="Éditer le talent" class="edit-link">Éditer le talent</a></p>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}