{% extends "base.html.twig" %}

{% block title %}Les armes - Division Wiki{% endblock %}

{% block body %}
    <div class="list">
        <h1>Toutes les armes</h1>

        <div class="sidebar">
            <h2>Modèles d'armes</h2>

            <ul>
                <li><a href="#weapons" title="Les armes" class="weapons">Les armes</a></li>
                <li><a href="#named" title="Les armes nommées" class="weapons">Les armes nommées</a></li>
                <li><a href="#exotic" title="Les armes exotiques" class="exotic">Les armes exotiques</a></li>
            </ul>
        </div>

        <div class="stats">
            <h2>MaxRoll des attributs en fonction du type d'arme</h2>

            <table class="off">
                <thead>
                    <tr class="attr-type">
                        <th colspan="8">Attributs essentiels</th>
                    </tr>
                    <tr>
                        <th>Type d'arme</th>
                        <th>Dégâts d'armes</th>
                        <th>Dégâts aux protections</th>
                        <th>Probabilité de coup critique</th>
                        <th>Dégâts de coup critique</th>
                        <th>Dégâts à la santé</th>
                        <th>Dégâts sur cible non abritée</th>
                        <th>Dégâts de headshot</th>
                    </tr>
                </thead>
                <tbody>
                    {% for maxRoll in maxRollWeapons %}
                        <tr>
                            <th>{{ maxRoll.weaponTypeId.typeName }}</th>
                            <td>{{ maxRoll.weaponDamage }}%</td>
                            <td>{{ maxRoll.damageToArmor }}%</td>
                            <td>{{ maxRoll.criticalHitChance | floatFilter }}%</td>
                            <td>{{ maxRoll.criticalHitDamage }}%</td>
                            <td>{{ maxRoll.healthDamage | floatFilter }}%</td>
                            <td>{{ maxRoll.damageToTargetOutOfCover }}%</td>
                            <td>{{ maxRoll.headshotDamage }}%</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table class="uti">
                <thead>
                    <tr class="attr-type">
                        <th colspan="8">Attributs secondaires</th>
                    </tr>
                    <tr>
                        <th>Type d'arme</th>
                        <th>Taille du chargeur</th>
                        <th>Vitesse de changement d'arme</th>
                        <th>Vitesse de rechargement</th>
                        <th>Stabilité</th>
                        <th>Précision</th>
                        <th>Portée optimale</th>
                        <th>Cadence de tir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for maxRoll in maxRollWeapons %}
                        <tr>
                            <th>{{ maxRoll.weaponTypeId.typeName }}</th>
                            <td>{{ maxRoll.magazineSize | floatFilter }}%</td>
                            <td>{{ maxRoll.swapSpeed }}%</td>
                            <td>{{ maxRoll.reloadSpeed }}%</td>
                            <td>{{ maxRoll.stability }}%</td>
                            <td>{{ maxRoll.accurancy }}%</td>
                            <td>{{ maxRoll.optimalRange }}%</td>
                            <td>{{ maxRoll.rateOfFire }}%</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="weapons" class="weapons">
            <h2>Les armes</h2>

            <ul>
                {% for weapon in weapons %}
                    <li><a href="{{ path('showWeapon', {'id': weapon.id}) }}" title="{{ weapon.name }}">{{ weapon.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div id="named" class="named-weapons">
            <h2>Les armes nommées</h2>

            <ul>
                {% for namedWeapon in namedWeapons %}
                    <li><a href="{{ path('showNamedWeapon', {'id': namedWeapon.id}) }}" title="{{ namedWeapon.name }}">{{ namedWeapon.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div id="exotic" class="exotic-weapons">
            <h2>Les armes exotiques</h2>

            <ul>
                {% for exoticWeapon in exoticWeapons %}
                    <li><a href="{{ path('showExoticWeapon', {'id': exoticWeapon.id}) }}" title="{{ exoticWeapon.name }}">{{ exoticWeapon.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}