{% extends "base.html.twig" %}

{% block title %}{{ namedWeapon.name }} - Division Wiki{% endblock %}

{% block body %}
    <div class="weapon-details">
        <h1>{{ namedWeapon.name }}</h1>
        <h2>{{ namedWeapon.weaponTypeId.typeName }} - {{ namedWeapon.variantWeapon }}</h2>
        {% if is_granted("ROLE_USER") %}
            <button class="add-favorite-weapon"><i class="fa fa-heart"></i> Ajouter au favoris</button>
            <p class="favorite">Arme favorite</p>
        {% endif %}

        <hr>
        <h2>Caractéristiques de l'arme</h2>
        <table>
            <thead>
                <th>Portée optimale</th>
                <th>Cadence de tir</th>
                <th>Taille du chargeur</th>
                <th>Vitesse de rechargement</th>
                <th>Multiplicateur de headshot</th>
                <th>Dégâts de base</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ namedWeapon.optimalRange }} mètres</td>
                    <td>{{ namedWeapon.rpm }} coup par minutes</td>
                    <td>{{ namedWeapon.magSize }} balles</td>
                    <td>{{ namedWeapon.reloadSpeed | floatFilter }} secondes</td>
                    <td>{{ namedWeapon.headshotMultiplicator }}%</td>
                    <td>{{ namedWeapon.baseDamage | integerFilter }}</td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead>
                <th>Attribut essentiel</th>
                {% if (namedWeapon.mainAttribute2 != null) %}
                    <th>Attribut essentiel 2</th>
                {% endif %}
                <th>Attribut secondaire</th>
                {% if (namedWeapon.perfectTalent != null) %}
                    <th>Talent parfait</th>
                {% endif %}
            </thead>
            <tbody>
                <tr>
                    <td>{{ namedWeapon.mainAttribute1 }}</td>
                    {% if (namedWeapon.mainAttribute2 != null) %}
                        <td>{{ namedWeapon.mainAttribute2 }}</td>
                    {% endif %}
                    <td>{{ namedWeapon.secondAttribute }}</td>
                    {% if (namedWeapon.perfectTalent != null) %}
                        <td>{{ namedWeapon.perfectTalent }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>

        {% if (namedWeapon.dropLocation != null) %}
            <hr>
            <h2>Zone d'obtention</h2>
            <p>{{ namedWeapon.dropLocation }}</p>
        {% endif %}

        {% if (namedWeapon.comments != null) %}
            <hr>
            <h2>Autres informations</h2>
            <p>{{ namedWeapon.comments }}</p>
        {% endif %}
    </div>
{% endblock %}