{% extends "base.html.twig" %}

{% block title %}{{ exoticWeapon.name }} - Division Wiki{% endblock %}

{% block body %}
    <div class="exoticWeapon-details">
        <h1>{{ exoticWeapon.name }}</h1>
        <h2>{{ exoticWeapon.weaponTypeId.typeName }} - {{ exoticWeapon.variantWeapon }}</h2>
        {% if is_granted("ROLE_USER") %}
            <button class="add-favorite-weapon"><i class="fa fa-heart"></i> Ajouter au favoris</button>
            <p class="favorite">Arme favorite</p>
        {% endif %}

        {% if (exoticWeapon.warlords == 1) %}
            <p>Cette arme exotique n'est disponible qu'avec l'extention "Warlords of New York".</p>
        {% endif %}

        <hr>
        <h2>Caractéristiques de l'arme</h2>
        <table>
            <thead>
                <th>Portée optimale</th>
                <th>Cadence de tir</th>
                <th>Taille du chargeur</th>
                <th>Vitesse de rechargement</th>
                <th>Multiplicateur de headshot</th>
                <th>Dégâts de base</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ exoticWeapon.optimalRange }} mètres</td>
                    <td>{{ exoticWeapon.rpm }} coup par minutes</td>
                    <td>{{ exoticWeapon.magSize }} balles</td>
                    <td>{{ exoticWeapon.relaodSpeed | floatFilter }} secondes</td>
                    <td>{{ exoticWeapon.headshotMultiplicator }}%</td>
                    <td>{{ exoticWeapon.baseDamage | integerFilter }}</td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead>
                <th>Attribut essentiel</th>
                {% if (exoticWeapon.mainAttribute2 != null) %}
                    <th>Attribut essentiel 2</th>
                {% endif %}
                <th>Attribut secondaire</th>
                <th>Talent</th>
                {% if (exoticWeapon.talent2 != null) %}
                    <th>Talent 2</th>
                {% endif %}
            </thead>
            <tbody>
                <tr>
                    <td>{{ exoticWeapon.mainAttribute1 }}</td>
                    {% if (exoticWeapon.mainAttribute2 != null) %}
                        <td>{{ exoticWeapon.mainAttribute2 }}</td>
                    {% endif %}
                    <td>{{ exoticWeapon.secondAttribute }}</td>
                    <td>{{ exoticWeapon.talent1 }}</td>
                    {% if (exoticWeapon.talent2 != null) %}
                        <td>{{ exoticWeapon.talent2 }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>

        <p>{{ exoticWeapon.mods }}</p>
    </div>
{% endblock %}