{% extends "base.html.twig" %}

{% block title %}{{ weapon.name }} - Division Wiki{% endblock %}

{% block body %}
    <div class="weapon-details">
        <h1>{{ weapon.name }}</h1>
        <h2>{{ weapon.weaponTypeId.typeName }} - {{ weapon.variantWeapon }}</h2>
        {% if is_granted("ROLE_USER") %}
            <button class="add-favorite-weapon"><i class="fa fa-heart"></i> Ajouter au favoris</button>
            <p class="favorite">Arme favorite</p>
        {% endif %}

        <hr>
        <h2>Caractéristiques de l'arme</h2>
        <table>
            <thead>
                <th>Portée optimale</th>
                <th>Cadence de tir</th>
                <th>Taille du chargeur</th>
                <th>Vitesse de rechargement</th>
                <th>Multiplicateur de headshot</th>
                <th>Bonus de l'arme (maxRoll)</th>
                <th>Dégâts de base</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ weapon.optimalRange }} mètres</td>
                    <td>{{ weapon.rpm }} coup par minutes</td>
                    <td>{{ weapon.magSize }} balles</td>
                    <td>{{ weapon.reloadSpeed | floatFilter }} secondes</td>
                    <td>{{ weapon.headshotMultiplicator }}%</td>
                    <td>{{ weapon.bonusMaxRoll }}% de {{ weapon.weaponBonus }}</td>
                    <td>{{ weapon.baseDamage | integerFilter }}</td>
                </tr>
            </tbody>
        </table>

        {% if (variantWeapons != null) %}
            <hr>
            <h2>Autres armes du même modèle</h2>
            <ul>
                {% for variant in variantWeapons %}
                    <li><a href="{{ path('showWeapon', {'id': variant.id}) }}" title="{{ variant.name }}">{{ variant.name }}{% if (variant.weaponTypeId.id != weapon.weaponTypeId.id) %} ({{variant.weaponTypeId.typeName }}){% endif %}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}