footer {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding: 20px 0;
  img {
    width: 300px;
    margin: 0 auto;
  }
  div {
    display: flex;
    flex-flow: column;
    align-items: center;
    @media screen and (min-width: 768px) {
      flex-flow: row;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
    }
    padding: 20px 0;
    .donnees {
      display: flex;
      flex-flow: column;
      margin-right: 10px;
      h2 {
        font-family: 'CrimsonText Bold';
        color: var(--second-color-text);
        text-align: center;
      }
      ul {
        list-style-type: none;
        display: flex;
        flex-flow: row;
        li a {
          margin: 0 10px;
        }
      }
    }
    .stats,
    .connexion {
      h2 a {
        font-family: 'CrimsonText Bold';
        color: var(--second-color-text);
      }
    }
  }
}
