.form {
  h1 {
    font-family: 'CrimsonText Bold';
    color: var(--second-color-text);
    text-align: center;
    padding: 20px 0 40px;
  }
  form {
    .alert-danger {
      text-align: center;
      color: #fff;
      background-color: var(--error-form-color);
      border-radius: 10px;
      padding: 10px 0;
      margin-bottom: 10px;
    }
    div div {
      display: flex;
      flex-flow: column;
      justify-content: center;
      padding: 5px 0;
      label {
        margin-bottom: 5px;
      }
      ul {
        list-style-type: none;
        li {
          color: var(--error-form-color);
          margin-bottom: 10px;
          margin-left: 10px;
        }
      }
      .form-control {
        padding: 2px 4px;
        border-color: var(--label-border);
        border-radius: 5px;
        outline: none;
      }
      textarea {
        border-width: 2px;
        height: 90px;
      }
    }
    .btn {
      text-align: center;
      margin-top: 15px;
      .btn-form {
        background-color: var(--label-border);
        border: none;
        padding: 5px 10px;
        border-radius: 10px;
        color: #fff;
        width: 50%;
      }
    }
    @media screen and (min-width: 768px) {
      max-width: 60%;
      margin: 0 auto;
    }
    @media screen and (min-width: 1024px) {
      max-width: 40%;
    }
  }
}
