header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 20px 0;
  img {
    max-width: 300px;
    padding: 20px 0;
    @media screen and (min-width: 1024px) {
      max-width: 500px;
    }
  }
  nav {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-flow: column;
      align-items: center;
      .menu-item {
        padding: 5px 0;
        text-align: center;
        a {
          font-size: 20px;
          color: var(--second-color-text);
          text-decoration: none;
          display: flex;
          align-items: center;
          i {
            font-size: 14px;
            margin-left: 5px;
          }
        }
      }
      .dropdown:hover {
        .sub-menu {
          display: block;
        }
      }
      .sub-menu {
        display: none;
        @media screen and (min-width: 768px) {
          max-width: 600px;
          width: 100%;
          position: absolute;
          background-color: var(--background-sub-menu);
          ul {
            flex-flow: row;
            align-items: center;
          }
          .first-sub-menu {
            justify-content: space-around;
          }
        }
      }
      .admin-menu {
        @media screen and (min-width: 768px) {
          max-width: 100%;
          left: 0;
          padding-top: 20px;
        }
      }
      .visible {
        display: block;
      }
    }
    @media screen and (min-width: 768px) {
      justify-content: space-between;
      ul {
        flex-flow: row;
        justify-content: space-evenly;
        width: 100%;
      }
      #user-informations {
        left: 100px;
      }
    }
    @media screen and (min-width: 1024px) {
      flex-flow: row;
      #user-informations {
        left: 900px;
      }
    }
  }
}
