{% extends "admin/adminBase.html.twig" %}

{% block title %}Ajouter une armure - Division Wiki{% endblock %}

{% block body %}
    <div class="form">
        <h1>Ajouter une armure</h1>

        {{ form_start(armorForm) }}
            {{ form_widget(armorForm) }}
            <div class="btn">
                <button class="btn-form">Ajouter l'armure</button>
            </div>
        {{ form_end(armorForm) }}
    </div>
{% endblock %}