{% extends "admin/adminBase.html.twig" %}

{% block title %}Éditer une armure - Division Wiki{% endblock %}

{% block body %}
    <div class="form">
        <h1>Éditer une armure</h1>

        {{ form_start(armorForm) }}
            {{ form_widget(armorForm) }}
            <div class="btn">
                <button class="btn-form">Mettre à jour l'armure</button>
            </div>
        {{ form_end(armorForm) }}
    </div>
{% endblock %}