<header>
    <nav>
        <ul>
            <li class="menu-item"><a href="{{ path('home') }}" title="Accueil">Retour au site</a></li>
            <li class="menu-item">
                <a href="{{ path('adminBrandList') }}" title="Toutes les marques">Toutes les marques</a>
                <div id="brands-list" class="sub-menu admin-menu">
                    <ul>
                        <li class="menu-item"><a href="{{ path('adminBrandList') }}" title="Les marques">Les marques</a></li>
                        <li class="menu-item"><a href="{{ path('adminGearSetList') }}" title="Les Gear Set">Les Gear Set</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu-item">
                <a href="{{ path('adminArmorModelList') }}" title="Toutes les arumures">Toutes les armures</a>
                <div id="armors-list" class="sub-menu admin-menu">
                    <ul>
                        <li class="menu-item"><a href="{{ path('adminArmorModelList') }}" title="Les armures">Les armures</a></li>
                        <li class="menu-item"><a href="{{ path('adminNamedArmorList') }}" title="Les armures nommées">Les armures nommées</a></li>
                        <li class="menu-item"><a href="{{ path('adminExoticArmorList') }}" title="Les armures exotiques">Les armures exotiques</a></li>
                        <li class="menu-item"><a href="{{ path('adminGearSetModelList') }}" title="Les modèles de gear set">Les modèles de gear set</a></li>
                        <li class="menu-item"><a href="{{ path('adminMaxRollArmorList') }}" title="Statistiques max">Statistiques max</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu-item">
                <a href="{{ path('adminWeaponModelList') }}" title="Toutes les armes">Toutes les armes</a>
                <div id="weapons-list" class="sub-menu admin-menu">
                    <ul>
                        <li class="menu-item"><a href="{{ path('adminWeaponModelList') }}" title="Les armes">Les armes</a></li>
                        <li class="menu-item"><a href="{{ path('adminNamedWeaponList') }}" title="Les armes nommées">Les armes nommées</a></li>
                        <li class="menu-item"><a href="{{ path('adminExoticWeaponList') }}" title="Les armes exotiques">Les armes exotiques</a></li>
                        <li class="menu-item"><a href="{{ path('adminMaxRollWeaponList') }}" title="Statistiques max">Statistiques max</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu-item">
                <a href="{{ path('adminArmorTalentList') }}" title="Tous les talents">Tous les talents</a>
                <div id="talents-list" class="sub-menu admin-menu">
                    <ul>
                        <li class="menu-item"><a href="{{ path('adminArmorTalentList') }}" title="Les talents d'armures">Les talents d'armures</a></li>
                        <li class="menu-item"><a href="{{ path('adminWeaponTalentList') }}" title="Les talents d'armes">Les talents d'armes</a></li>
                    </ul>
                </div>
            </li>
            {# <li class="menu-item"><a href="#" title="Le forum">Le forum</a></li> #}
        </ul>
    </nav>
</header>