// Import des fonts-awesomes
@import url('../../node_modules/font-awesome/css/font-awesome.min.css');

// Importation des fonts
@import './fonts.scss';

// Définition des varaibles
:root {
  --primary-color-text: #000;
  --second-color-text: #ff8000;
  --background-sub-menu: #fff;
  --label-border: #ff8000;
  --error-form-color: #e30b0b;
  --premium-equipement: #ffb31a;
  --gearset-equipement: #17c884;
  --exotic-equipement: #ff765e;
  --talent: #ff8000;
  --table-border: #ff8000;
  --talent-yes: #7eff7e;
  --talent-no: #ff5e5e;
  --offensif-color: #dc6f6f;
  --defensif-color: #84b1ea;
  --utilitaire-color: #fbcd79;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  font-family: 'CrimsonText';
  font-size: 16px;
  line-height: 1.5;
  max-width: 95%;
  margin: 0 auto;
}

main {
  margin-top: 40px;
}

// Importation des styles des composants et des pages
@import './components/footer.scss';
@import './components/header.scss';
@import './components/form.scss';

@import './pages/account.scss';
@import './pages/admin.scss';
@import './pages/armors-details.scss';
@import './pages/details-brand.scss';
@import './pages/details-talent.scss';
@import './pages/favorites.scss';
@import './pages/front-list.scss';
@import './pages/home.scss';
@import './pages/stats.scss';
@import './pages/weapons-details.scss';
