@font-face {
  font-family: 'CrimsonText';
  src: url('../fonts/CrimsonText-Regular.ttf');
}

@font-face {
  font-family: 'CrimsonText Italic';
  src: url('../fonts/CrimsonText-Italic.ttf');
}

@font-face {
  font-family: 'CrimsonText SemiBold';
  src: url('../fonts/CrimsonText-SemiBold.ttf');
}

@font-face {
  font-family: 'CrimsonText Bold';
  src: url('../fonts/CrimsonText-Bold.ttf');
}
