{% extends "admin/adminBase.html.twig" %}

{% block title %}Éditer une arme nommée - Division Wiki{% endblock %}

{% block body %}
    <div class="form">
        <h1>Éditer une arme nommée</h1>

        {{ form_start(weaponForm) }}
            {{ form_widget(weaponForm) }}
            <div class="btn">
                <button class="btn-form">Mettre à jour l'arme</button>
            </div>
        {{ form_end(weaponForm) }}
    </div>
{% endblock %}