.account {
  h1,
  h2 {
    font-family: 'CrimsonText Bold';
    color: var(--second-color-text);
    text-align: center;
  }
  .infos {
    text-align: center;
    h2 {
      font-family: 'CrimsonText';
      color: var(--primary-color-text);
    }
    .btn {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-content: center;
      margin-top: 10px;
      @media screen and (min-width: 768px) {
        flex-flow: row wrap;
        align-items: center;
      }
      a {
        background-color: #0d980d;
        color: #fff;
        border-radius: 5px;
        padding: 5px 10px;
        margin-bottom: 10px;
        max-width: 180px;
        @media screen and (min-width: 768px) {
          margin-right: 10px;
          margin-bottom: 0px;
        }
      }
      form {
        display: inline-block;
        button {
          font-family: 'CrimsonText';
          font-size: 16px;
          color: #fff;
          background-color: #ff0000;
          border: none;
          border-radius: 5px;
          padding: 5px 10px;
        }
      }
    }
  }
}
