.main-admin {
  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }

  .admin-list {
    h1 {
      font-family: 'CrimsonText Bold';
      color: var(--second-color-text);
      text-align: center;
      padding: 20px 0 40px;
    }
    .add-link {
      padding: 5px 10px;
      background-color: var(--premium-equipement);
      color: #fff;
      border-radius: 5px;
    }
    .add-link-gearset {
      padding: 5px 10px;
      background-color: var(--gearset-equipement);
      color: #fff;
      border-radius: 5px;
    }
    .add-link-exotic {
      padding: 5px 10px;
      background-color: var(--exotic-equipement);
      color: #fff;
      border-radius: 5px;
    }
    .add-link-talent {
      padding: 5px 10px;
      background-color: var(--talent);
      color: #fff;
      border-radius: 5px;
    }
    .premium-gear {
      color: var(--premium-equipement);
    }
    .exotic-gear {
      color: var(--exotic-equipement);
    }
    .gearSet {
      color: var(--gearset-equipement);
    }
    .admin-article {
      display: flex;
      flex-flow: column;
      justify-content: center;
      margin-top: 20px;
      h2 {
        font-family: 'CrimsonText SemiBold';
        text-align: center;
        text-transform: uppercase;
        width: 100%;
      }
      .gear-list,
      .weapon-list {
        margin: 10px 0;
        article {
          margin-bottom: 20px;
        }
      }
      article {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px 0;
        h3 {
          font-family: 'CrimsonText SemiBold';
          text-align: center;
          padding-bottom: 10px;
        }
        .brand-bonus {
          text-align: justify;
          margin-bottom: 15px;
        }
        .talent-desc {
          margin-bottom: 15px;
          h4 {
            font-family: 'CrimsonText SemiBold';
            font-size: 17px;
            text-align: center;
          }
          table {
            margin: 5px auto 0;
            border-collapse: separate;
            background-color: #ffc284;
            border: 1px solid var(--table-border);
            border-radius: 5px;
            tbody {
              text-align: center;
            }
            th,
            td {
              border: 1px solid var(--table-border);
              padding: 4px;
              border-radius: 5px;
              background-color: #fff;
            }
            .yes {
              background-color: var(--talent-yes);
            }
            .no {
              background-color: var(--talent-no);
            }
          }
        }
        .armor-desc,
        .weapon-desc {
          margin-bottom: 15px;
          h4 {
            font-family: 'CrimsonText SemiBold';
            font-size: 17px;
            text-align: center;
          }
        }
        .edit-link {
          padding: 5px 10px;
          background-color: #0d980d;
          color: #fff;
          border-radius: 5px;
        }
        @media screen and (min-width: 768px) {
          max-width: 47%;
          margin: 10px;
          min-height: 250px;
          height: 100%;
        }
        @media screen and (min-width: 1024px) {
          max-width: 25%;
        }
      }
      @media screen and (min-width: 768px) {
        flex-flow: row wrap;
        justify-content: space-between;
        .gear-list {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;
          margin-bottom: 10px;
          article {
            max-width: 30%;
            height: auto;
          }
        }
        .weapon-list {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;
          margin-bottom: 10px;
          article {
            width: 30%;
            height: auto;
          }
        }
      }
      @media screen and (min-width: 1024px) {
        justify-content: space-around;
      }
    }
    .gearset-list article {
      @media screen and (min-width: 768px) {
        max-height: 600px;
        height: 100%;
      }
      @media screen and (min-width: 1024px) {
        max-width: 30%;
      }
    }
    .armor-list article {
      @media screen and (min-width: 768px) {
        max-height: 650px;
      }
    }
    .admin-sidebar {
      margin: 20px 0 10px;
      h2 {
        font-family: 'CrimsonText Bold';
        text-align: center;
      }
      ul {
        list-style-type: none;
        text-align: center;
        @media screen and (min-width: 768px) {
          display: flex;
          justify-content: space-evenly;
          margin-top: 10px;
        }
        li a {
          font-size: 18px;
        }
      }
    }
  }
}
