.armor-details {
  h1,
  h2 {
    font-family: 'CrimsonText Bold';
    color: var(--premium-equipement);
    text-align: center;
  }
  h2 a {
    color: var(--premium-equipement);
  }
  .add-favorite-armor {
    font-family: 'CrimsonText';
    font-size: 16px;
    display: block;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--premium-equipement);
    color: #fff;
    i {
      margin-right: 5px;
    }
  }
  .favorite {
    display: none;
    font-size: 20px;
    color: var(--premium-equipement);
  }
  hr {
    max-width: 200px;
    background-color: var(--premium-equipement);
    padding: 1px;
    border: none;
    margin: 20px auto;
  }
  table {
    margin: 10px auto 20px;
    border-collapse: separate;
    background-color: #ffdc95;
    border: 1px solid var(--premium-equipement);
    border-radius: 5px;
    tbody {
      text-align: center;
    }
    th,
    td {
      border: 1px solid var(--premium-equipement);
      padding: 4px;
      border-radius: 5px;
      background-color: #fff;
    }
  }
  p {
    text-align: center;
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    li {
      text-align: center;
      width: 100%;
      margin: 5px 0;
      a {
        color: var(--primary-color-text);
      }
      @media screen and (min-width: 768px) {
        width: 50%;
      }
      @media screen and (min-width: 1024px) {
        width: 20%;
      }
    }
  }
}
.exotic-details {
  h1,
  h2 {
    font-family: 'CrimsonText Bold';
    color: var(--exotic-equipement);
    text-align: center;
  }
  h2 a {
    color: var(--exotic-equipement);
  }
  .add-favorite-armor {
    font-family: 'CrimsonText';
    font-size: 16px;
    display: block;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--exotic-equipement);
    color: #fff;
    i {
      margin-right: 5px;
    }
  }
  .favorite {
    display: none;
    font-size: 20px;
    color: var(--exotic-equipement);
    margin-bottom: 10px;
  }
  hr {
    max-width: 200px;
    background-color: var(--exotic-equipement);
    padding: 1px;
    border: none;
    margin: 20px auto;
  }
  table {
    margin: 10px auto 20px;
    border-collapse: separate;
    background-color: #ffcec5;
    border: 1px solid var(--exotic-equipement);
    border-radius: 5px;
    tbody {
      text-align: center;
    }
    th,
    td {
      border: 1px solid var(--exotic-equipement);
      padding: 4px;
      border-radius: 5px;
      background-color: #fff;
    }
  }
  p {
    text-align: center;
  }
}
.gearSetModel {
  h2 a {
    color: var(--gearset-equipement);
  }
  .add-favorite-armor {
    font-family: 'CrimsonText';
    font-size: 16px;
    display: block;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--gearset-equipement);
    color: #fff;
    i {
      margin-right: 5px;
    }
  }
  .favorite {
    display: none;
    font-size: 20px;
    color: var(--gearset-equipement);
  }
  p {
    text-align: center !important;
  }
}
