.brand-details {
  h1,
  h2 {
    font-family: 'CrimsonText Bold';
    color: var(--premium-equipement);
    text-align: center;
  }
  p {
    text-align: justify;
  }
  table {
    margin: 10px auto 20px;
    border-collapse: separate;
    background-color: #ffc284;
    border: 1px solid var(--table-border);
    border-radius: 5px;
    tbody {
      text-align: center;
    }
    th,
    td {
      border: 1px solid var(--table-border);
      padding: 4px;
      border-radius: 5px;
      background-color: #fff;
    }
  }
  hr {
    max-width: 200px;
    background-color: var(--table-border);
    padding: 1px;
    border: none;
    margin: 20px auto;
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    li {
      text-align: center;
      width: 100%;
      margin: 5px 0;
      a {
        color: var(--primary-color-text);
      }
      @media screen and (min-width: 768px) {
        width: 50%;
      }
      @media screen and (min-width: 1024px) {
        width: 20%;
      }
    }
  }
  .named-list {
    justify-content: center;
  }
}

.gearSet-details {
  h1,
  h2,
  h4 {
    font-family: 'CrimsonText Bold';
    color: var(--gearset-equipement);
    text-align: center;
  }
  h4 {
    font-size: 20px;
    margin-top: 20px;
  }
  p {
    text-align: justify;
  }
  table {
    margin: 10px auto 20px;
    border-collapse: separate;
    background-color: #b1f4da;
    border: 1px solid var(--gearset-equipement);
    border-radius: 5px;
    tbody {
      text-align: center;
    }
    th,
    td {
      border: 1px solid var(--gearset-equipement);
      padding: 4px;
      border-radius: 5px;
      background-color: #fff;
    }
  }
  .talent {
    text-align: center;
  }
  hr {
    max-width: 200px;
    background-color: var(--gearset-equipement);
    padding: 1px;
    border: none;
    margin: 20px auto;
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    li {
      text-align: center;
      width: 100%;
      margin: 5px 0;
      a {
        color: var(--primary-color-text);
      }
      @media screen and (min-width: 768px) {
        width: 50%;
      }
      @media screen and (min-width: 1024px) {
        width: 20%;
      }
    }
  }
}
