.details {
  h1,
  h2,
  h3 {
    font-family: 'CrimsonText Bold';
    color: var(--premium-equipement);
    text-align: center;
  }
  h3 {
    font-size: 20px;
  }
  p {
    text-align: center;
  }
  hr {
    max-width: 200px;
    background-color: var(--table-border);
    padding: 1px;
    border: none;
    margin: 20px auto;
  }
  .perfect {
    font-size: 24px;
    a {
      color: var(--premium-equipement);
    }
  }
  .other {
    color: var(--second-color-text);
    margin-top: 20px;
  }
  table {
    margin: 10px auto 20px;
    border-collapse: separate;
    background-color: #ffc284;
    border: 1px solid var(--table-border);
    border-radius: 5px;
    tbody {
      text-align: center;
    }
    th,
    td {
      border: 1px solid var(--table-border);
      padding: 4px;
      border-radius: 5px;
      background-color: #fff;
    }
    .yes {
      background-color: var(--talent-yes);
    }
    .no {
      background-color: var(--talent-no);
    }
  }
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style-type: none;
    text-align: center;
    li {
      margin: 5px 0;
      a {
        color: var(--primary-text-color);
      }
    }
  }
  .weapon {
    li {
      width: 50%;
      @media screen and (min-width: 768px) {
        width: 20%;
      }
    }
  }
  .armor {
    li {
      width: 50%;
      @media screen and (min-width: 768px) {
        width: 25%;
      }
      @media screen and (min-width: 1024px) {
        width: 20%;
      }
    }
  }
}
