.favorites {
  h1 {
    font-family: 'CrismonText Bold';
    color: var(--second-color-text);
    text-align: center;
    i {
      margin-right: 5px;
    }
  }
  .favorites-tables {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    @media screen and (min-width: 768px) {
      flex-flow: row wrap;
      justify-content: space-evenly;
    }
    .favorite-armors {
      table {
        margin: 10px auto;
        border-collapse: separate;
        border-radius: 5px;
        word-break: break-all;
        background-color: var(--defensif-color);
        border: 1px solid var(--defensif-color);
        @media screen and (min-width: 768px) {
          word-break: inherit;
        }
        .title th {
          background-color: var(--defensif-color);
          color: #fff;
        }
        th,
        td {
          text-align: center;
          padding: 4px;
          border-radius: 5px;
          background-color: #fff;
        }
      }
    }
    .favorite-weapons {
      table {
        margin: 10px auto;
        border-collapse: separate;
        border-radius: 5px;
        word-break: break-all;
        background-color: var(--offensif-color);
        border: 1px solid var(--offensif-color);
        @media screen and (min-width: 768px) {
          word-break: inherit;
        }
        .title th {
          background-color: var(--offensif-color);
          color: #fff;
        }
        th,
        td {
          text-align: center;
          padding: 4px;
          border-radius: 5px;
          background-color: #fff;
        }
      }
    }
  }
}
