.list {
  h1 {
    font-family: 'CrimsonText Bold';
    color: var(--second-color-text);
    text-align: center;
  }
  div {
    display: flex;
    flex-flow: column;
  }
  h2 {
    text-align: center;
    padding: 10px 0;
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    li {
      text-align: center;
      padding: 5px 0;
      a {
        color: var(--primary-color-text);
      }
    }
    @media screen and (min-width: 768px) {
      flex-flow: row wrap;
      li {
        width: 50%;
        text-align: center;
      }
    }
    @media screen and (min-width: 1024px) {
      li {
        width: 25%;
      }
    }
  }
  .sidebar {
    margin: 20px 0 10px;
    h2 {
      font-family: 'CrimsonText Bold';
      text-align: center;
      color: var(--second-color-text);
    }
    ul {
      list-style-type: none;
      text-align: center;
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
      }
      li a {
        font-size: 18px;
      }
      .armors,
      .weapons {
        color: var(--premium-equipement);
      }
      .exotic {
        color: var(--exotic-equipement);
      }
      .gearSet {
        color: var(--gearset-equipement);
      }
    }
  }
  .brands,
  .armors,
  .named-armors,
  .weapons,
  .named-weapons {
    margin-bottom: 20px;
    h2 {
      color: var(--premium-equipement);
    }
  }
  .gearSet {
    h2 {
      color: var(--gearset-equipement);
    }
  }
  .exotic-armors,
  .exotic-weapons {
    h2 {
      color: var(--exotic-equipement);
    }
  }
  .talents {
    margin-bottom: 20px;
    h2 {
      color: var(--talent);
    }
  }
  .stats {
    h2 {
      font-family: 'CrimsonText Bold';
      color: var(--second-color-text);
    }
    table {
      margin: 10px auto 20px;
      border-collapse: separate;
      border-radius: 5px;
      word-break: break-all;
      @media screen and (min-width: 768px) {
        word-break: inherit;
      }
      th,
      td {
        text-align: center;
        padding: 4px;
        border-radius: 5px;
        background-color: #fff;
      }
    }
    .off {
      background-color: var(--offensif-color);
      border: 1px solid var(--offensif-color);
      .attr-type th {
        background-color: var(--offensif-color);
        color: #fff;
      }
    }
    .def {
      background-color: var(--defensif-color);
      border: 1px solid var(--defensif-color);
      .attr-type th {
        background-color: var(--defensif-color);
        color: #fff;
      }
    }
    .uti {
      background-color: var(--utilitaire-color);
      border: 1px solid var(--utilitaire-color);
      .attr-type th {
        background-color: var(--utilitaire-color);
      }
    }
  }
}
