.home {
  display: flex;
  flex-flow: column wrap;
  @media screen and (min-width: 768px) {
    flex-flow: row wrap;
  }
  .a-propos {
    @media screen and (min-width: 768px) {
      width: 75%;
    }
    h1 {
      font-family: 'CrimsonText Bold';
      font-size: 32px;
      color: var(--second-color-text);
      text-align: center;
      margin-bottom: 10px;
    }
    .division1 {
      margin-bottom: 40px;
      h2 {
        font-family: 'CrimsonText Bold';
        color: var(--second-color-text);
        margin: 20px 0 10px;
      }
      div {
        display: flex;
        flex-flow: column;
        img {
          width: 150px;
          margin: 0 auto 10px;
        }
        @media screen and (min-width: 768px) {
          flex-flow: row wrap;
          p {
            width: calc(100% - 170px);
            margin-left: 15px;
          }
        }
      }
    }
    .division2 {
      h2 {
        font-family: 'CrimsonText Bold';
        color: var(--second-color-text);
        margin-bottom: 10px;
      }
      div {
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 10px;
        img {
          width: 150px;
          margin: 0 auto 10px;
        }
        @media screen and (min-width: 768px) {
          flex-flow: row wrap;
          img {
            width: 250px;
            margin: 0;
          }
          p {
            width: calc(100% - 270px);
            margin-left: 15px;
          }
        }
      }
      .image {
        display: flex;
        flex-flow: row;
        justify-content: center;
        img {
          width: 150px;
          margin-right: 20px !important;
        }
        @media screen and (min-width: 768px) {
          img {
            width: 250px;
          }
        }
      }
    }
  }
  aside {
    @media screen and (min-width: 768px) {
      width: 20%;
      margin-left: 30px;
    }
    .info-group {
      padding-bottom: 10px;
      h2 {
        font-family: 'CrimsonText Bold';
        text-align: center;
        color: #fff;
        background-color: var(--second-color-text);
      }
      .sub-group {
        padding: 0 5px;
        h3 {
          font-family: 'CrimsonText Bold';
          color: var(--second-color-text);
          margin-top: 5px;
        }
      }
    }
  }
}
