.stats {
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .player-info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    @media screen and (min-width: 1024px) {
      width: 20%;
      margin-right: 25px;
    }
    h1 {
      font-family: 'CrimsonText Bold';
      color: var(--second-color-text);
      text-align: center;
    }
    .player-level {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      background: linear-gradient(90deg, var(--second-color-text), transparent);
      border: 1px solid #000;
      margin-bottom: 10px;
      div {
        width: 48%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin: 1%;
      }
      .gear-score {
        border-left: 5px solid var(--premium-equipement);
      }
      span,
      p {
        color: var(--primary-color-text);
      }
    }
    .review {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      @media screen and (min-width: 1024px) {
        flex-flow: column wrap;
      }
      h4 {
        font-family: 'CrimsonText Bold';
        color: var(--second-color-text);
        text-align: center;
        width: 100%;
      }
      div {
        text-align: center;
        padding: 5px 10px;
        span {
          font-family: 'CrimsonText Bold';
          font-size: 14px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
  .player-stats {
    width: 100%;
    @media screen and (min-width: 1024px) {
      width: 78%;
    }
    .lifetime-header,
    .dark-zone-header,
    .pve-header {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 16px 0;
      h4 {
        font-family: 'CrimsonText Bold';
        font-size: 20px;
        margin: 0 20px;
      }
    }
    .lifetime-header {
      border-left: 5px solid #f6bb80;
      background: linear-gradient(90deg, #ff8000, transparent);
      h4,
      p {
        color: #fff;
      }
    }
    .dark-zone-header {
      border-left: 5px solid #a25dff;
      background: linear-gradient(90deg, #452a6a, transparent);
      h4,
      p {
        color: #fff;
      }
    }
    .pve-header {
      border-left: 5px solid #35cfd5;
      background: linear-gradient(90deg, #1b5759, transparent);
      h4,
      p {
        color: #fff;
      }
    }
    .lifetime-details,
    .dark-zone-details,
    .pve-details {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      div {
        text-align: center;
        padding: 8px 16px;
        @media screen and (min-width: 1024px) {
          margin: 16px;
        }
        h5 {
          font-family: 'CrimsonText Bold';
          font-size: 16px;
        }
      }
    }
  }
}
