{% extends "admin/adminBase.html.twig" %}

{% block title %}Éditer un talent d'armure - Division Wiki{% endblock %}

{% block body %}
    <div class="form">
        <h1>Éditer un talent d'armure</h1>

        {{ form_start(talentForm) }}
            {{ form_widget(talentForm) }}
            <div class="btn">
                <button class="btn-form">Mettre à jour le talent</button>
            </div>
        {{ form_end(talentForm) }}
    </div>
{% endblock %}