{% extends "admin/adminBase.html.twig" %}

{% block title %}Les talents d'armures - Division Wiki{% endblock %}

{% block body %}
    <div class="admin-list">
        <h1>Tous les talents d'armures</h1>

        <p><a href="{{ path('addArmorTalent') }}" title="Ajouter un talent d'armure" class="add-link-talent">Ajouter un talent d'armure</a></p>

        <div class="admin-article">
            {% for talent in talents %}
                <article>
                    <h3>{{ talent.name }} ({{ talent.nameEng }})</h3>
                    <div class="talent-desc">
                        {% if (talent.chest) == 1 %}
                            <h4>Talent de torse</h4>
                        {% endif %}
                        {% if (talent.backpack) == 1 %}
                            <h4>Talent de sac à dos</h4>
                        {% endif %}
                        <p>{{ talent.description }}</p>
                        {% if (talent.requirements) != null %}
                            <p>{{ talent.requirements }}</p>
                        {% endif %}
                    </div>
                    <p><a href="{{ path('editArmorTalent', { 'id': talent.id }) }}" title="Éditer le talent" class="edit-link">Éditer le talent</a></p>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}