<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block description %}Site d'informations sur le jeu Tom Clancy's The Division 2{% endblock %}">
        <title>{% block title %}Division Wiki{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('img/Icone DW.png') }}" type="image/x-icon">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('front') }}
        {% endblock %}
    </head>
    <body>
        {% include "includes/_header.html.twig" %}

        <main>
            {% block body %}{% endblock %}
        </main>

        {% include "includes/_footer.html.twig" %}
    </body>
</html>
