{% extends "base.html.twig" %}

{% block body %}
    <div class="home">            
        <section class="a-propos">
            <h1>Bienvenue sur Division Wiki</h1>
            
            <p>Tom Clancy's The Division 2 est un jeu en ligne en monde ouvert de tir tactique et d'action-RPG (looter-shooter) développé par Massive Entertainment et éditée par Ubisoft, sortie le 15 mars 2019 sur PC, Xbox One et PlayStation 4 puis sur Stadia.
            Il s'agit de la suite du jeu Tom Clancy's The Division.</p>

            <article class="division1">
                <h2>Tom Clancy's The Division</h2>
                <div>
                    <img src="{{ asset('img/NY-neige.jpg') }}" alt="New York sous la neige">
                    <p>
                        L'histoire se déroule à Manhattan (New York) dans un monde post-apocalyptique.
                        <br>
                        Un virus, plus tard nommée "Le Poison Vert", se propage lors du Black Friday via des billets contaminés et provoque la chute des États-Unis en seulement 5 jours.
                        <br>
                        Le joueur incarné un agent de la seconde vague de la SHD (Strategic Homeland Division), plus communemment appelée la Division, une unité gouvernementale qui opére en cas de catastrophe majeur. Leur mission est d'établir une base pour "reprendre" New York en proie au chaos depuis la mise en quarantaine de la ville pour tenté de stopper la propagation du virus.
                    </p>
                </div>
            </article>

            <article class="division2">
                <h2>Tom Clancy's The Division 2</h2>
                <div>
                    <img src="{{ asset('img/Maison-blanche.jpg') }}" alt="Maison Blanche">
                    <p>
                        L'histoire reprend 7 mois après les événements du premier opus mais à Washington où le virus s'est propagé. Alors que plusieurs agents de la Division défendent des civils, le réseau de la SHD s'arrête soudainement et un messge de détresse est envoyé par les agents de Washington.
                        <br>
                        Le joueur se rend donc dans la ville où la Division et les forces opérationnelles locales ont installé leur base dans la Maison Blanche. Pour reprendre la ville, ils vont devoir lutter sont les Hyènes qui ont établi leur base dans Distrct Union Arena, les True Sons qui ont établi au Capitole, les Paris qui ont pris le contrôle de Roosvelt Island et les Black Tusk.
                    </p>
                </div>
                <div class="image">
                    <img src="{{ asset('img/Capitol.jpg') }}" alt="Capitole à Washington">
                    <img src="{{ asset('img/Washington-monument.jpg') }}" alt="Washington Monument">
                </div>
            </article>
        </section>

        <aside>
            <div class="info-group">
                <h2>Entreprises</h2>
                <div class="sub-group">
                    <h3>Développeurs</h3>
                    <p>Massive Entertainment</p>
                    <p>Red Storm Entertainment</p>
                    <p>Ubisoft Reflections</p>
                    <p>Ubisoft Annecy</p>
                </div>
                <div class="sub-group">
                    <h3>Éditeur</h3>
                    <p>Ubisoft Entertainment</p>
                </div>
            </div>
            <div class="info-group">
                <h2>Détails</h2>
                <div class="sub-group">
                    <h3>Date de sortie</h3>
                    <p>15 mars 2019</p>
                </div>
                <div class="sub-group">
                    <h3>Plateforme</h3>
                    <p>PC</p>
                    <p>Xbox One</p>
                    <p>PlayStation 4</p>
                    <p>Google Stadia</p>
                </div>
                <div class="sub-group">
                    <h3>Genres</h3>
                    <p>Action-RPG</p>
                    <p>TPS (Third-person-shooter)</p>
                </div>
                <div class="sub-group">
                    <h3>Modes de jeu</h3>
                    <p>Solo</p>
                    <p>Coop</p>
                    <p>Multijoueur</p>
                </div>
            </div>
        </aside>
    </div>
{% endblock %}