{% extends "base.html.twig" %}

{% block title %}Les talents - Division Wiki{% endblock %}

{% block body %}
    <div class="list">
        <h1>Tous les talents</h1>

        <div class="talents">
            <h2>Les talents d'armures</h2>
            
            <ul>
                {% for armor in armorTalents %}
                    <li><a href="{{ path('showArmorTalent', { 'id': armor.id }) }}" title="{{ armor.name }}">{{ armor.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="talents">
            <h2>Les talents d'armes</h2>

            <ul>
                {% for weapon in weaponTalents %}
                    <li><a href="{{ path('showWeaponTalent', { 'id': weapon.id }) }}" title="{{ weapon.name }}">{{ weapon.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}