{% extends "base.html.twig" %}

{% block title %}{{ armorTalent.name }} - Division Wiki{% endblock %}

{% block body %}
    <div class="details">
        <h1>{{ armorTalent.name }}</h1>
        <h2>{{ armorTalent.nameEng }}</h2>

        {% if (armorTalent.chest == 1) %}
            <h3>Talent de torse</h3>
        {% elseif (armorTalent.backpack == 1) %}
            <h3>Talent de sac à dos</h3>
        {% endif %}

        <p>{{ armorTalent.description }}</p>

        {% if (perfectTalent != null) %}
            <hr>
            <h3 class="perfect"><a href="{{ path('showNamedArmor', {'id': perfectTalent[0].id}) }}" title="{{ perfectTalent[0].name }}">{{ perfectTalent[0].name }}</a></h3>
            <p>{{ perfectTalent[0].perfectTalent }}</p>
        {% endif %}

        <hr>
        {% if (armorTalent.chest == 1) %}
            <h2 class="other">Les autres talents de torse</h2>

            <ul class="armor">
                {% for chest in chestTalents %}
                    {% if (chest.name != armorTalent.name) %}
                        <li><a href="{{ path('showArmorTalent', { 'id': chest.id }) }}" title="{{ chest.name }}">{{ chest.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% elseif (armorTalent.backpack == 1) %}
            <h2 class="other">Les autres talents de sac à dos</h2>

            <ul class="armor">
                {% for backpack in backpackTalents %}
                    {% if (backpack.name != armorTalent.name) %}
                        <li><a href="{{ path('showArmorTalent', { 'id': backpack.id }) }}" title="{{ backpack.name }}">{{ backpack.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}