{% extends "base.html.twig" %}

{% block title %}{{ weaponTalent.name }} - Division Wiki{% endblock %}

{% block body %}
    <div class="details">
        <h1>{{ weaponTalent.name }}</h1>
        <h2>{{ weaponTalent.nameEng }}</h2>

        <p>{{ weaponTalent.description }}</p>

        {% if (perfectTalent != null) %}
            <hr>
            <h3 class="perfect"><a href="{{ path('showNamedWeapon', {'id': perfectTalent[0].id}) }}" title="{{ perfectTalent[0].name }}">{{ perfectTalent[0].name }}</a></h3>
            <p>{{ perfectTalent[0].perfectTalent }}</p>
            <hr>
        {% endif %}

        <h2 class="other">Disponibilité du talent</h2>
        <table>
            <thead>
                <th>Fusil</th>
                <th>Pompe</th>
                <th>AR</th>
                <th>LMG</th>
                <th>Sniper</th>
                <th>Pistolet</th>
                <th>SMG</th>
            </thead>
            <tbody>
                <tr>
                    <td class="{% if (weaponTalent.rifle == 1) %}yes{% else %}no{% endif %}">
                        {% if (weaponTalent.rifle == 1) %}
                            <i class="fa fa-check"></i>
                        {% else %}
                            <i class="fa fa-times"></i>
                        {% endif %}
                    </td>
                    <td class="{% if (weaponTalent.shotgun == 1) %}yes{% else %}no{% endif %}">
                        {% if (weaponTalent.shotgun == 1) %}
                            <i class="fa fa-check"></i>
                        {% else %}
                            <i class="fa fa-times"></i>
                        {% endif %}
                    </td>
                    <td class="{% if (weaponTalent.assaultRifle == 1) %}yes{% else %}no{% endif %}">
                        {% if (weaponTalent.assaultRifle == 1) %}
                            <i class="fa fa-check"></i>
                        {% else %}
                            <i class="fa fa-times"></i>
                        {% endif %}
                    </td>
                    <td class="{% if (weaponTalent.lightMachineGun == 1) %}yes{% else %}no{% endif %}">
                        {% if (weaponTalent.lightMachineGun == 1) %}
                            <i class="fa fa-check"></i>
                        {% else %}
                            <i class="fa fa-times"></i>
                        {% endif %}
                    </td>
                    <td class="{% if (weaponTalent.marksmanRifle == 1) %}yes{% else %}no{% endif %}">
                        {% if (weaponTalent.marksmanRifle == 1) %}
                            <i class="fa fa-check"></i>
                        {% else %}
                            <i class="fa fa-times"></i>
                        {% endif %}
                    </td>
                    <td class="{% if (weaponTalent.pistol == 1) %}yes{% else %}no{% endif %}">
                        {% if (weaponTalent.pistol == 1) %}
                            <i class="fa fa-check"></i>
                        {% else %}
                            <i class="fa fa-times"></i>
                        {% endif %}
                    </td>
                    <td class="{% if (weaponTalent.subMachineGun == 1) %}yes{% else %}no{% endif %}">
                        {% if (weaponTalent.subMachineGun == 1) %}
                            <i class="fa fa-check"></i>
                        {% else %}
                            <i class="fa fa-times"></i>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>

        <hr>
        <h2 class="other">Les autres talents d'armes</h2>
        <ul class="weapon">
            {% for talent in allTalents %}
                {% if (talent.name != weaponTalent.name) %}
                    <li><a href="{{ path('showWeaponTalent', { 'id': talent.id }) }}" title="{{ talent.name }}">{{ talent.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}