{% extends "admin/adminBase.html.twig" %}

{% block title %}Liste des armures exotiques - Division Wiki{% endblock %}

{% block body %}
    <div class="admin-list">
        <h1>Toutes les armures exotiques</h1>

        <p><a href="{{ path('addExoticArmor') }}" title="Ajouter une armure exotique" class="add-link-exotic">Ajouter une armure exotique</a></p>

        <div class="admin-sidebar">
            <h2 class="exotic-gear">Type d'armures</h2>
            <ul>
                <li><a href="#masks" title="Les masques">Les masques</a></li>
                <li><a href="#chest" title="Les torses">Les torses</a></li>
                <li><a href="#backpack" title="Les sac à dos">Les sac à dos</a></li>
                <li><a href="#gloves" title="Les gants">Les gants</a></li>
                <li><a href="#holster" title="Les holsters">Les holsters</a></li>
                <li><a href="#kneepads" title="Les genouillères">Les genouillères</a></li>
            </ul>
        </div>

        <div class="admin-article armor-list">
            <div class="gear-list">
                <h2 id="masks" class="exotic-gear">Les masques</h2>
                {% for mask in masks %}
                    <article>
                        <h3>{{ mask.name }}</h3>
                        <div class="armor-desc">
                            <p>Attribut principal : {{ mask.mainAttribute }}</p>
                            <p>Attribut secondaire : {{ mask.secondAttribute1 }}</p>
                            {% if (mask.secondAttribute2 != null) %}
                                <p>Attribut secondaire 2 : {{ mask.secondAttribute2 }}</p>
                            {% endif %}
                            <p>{{ mask.talent1 }}</p>
                            <p>Mods : 
                                {% if (mask.mods == 0) %}
                                    Non
                                {% else %}
                                    Oui
                                {% endif %}
                            </p>
                            {% if (mask.warlords == 0) %}
                                <p>Exotique disponible dans le jeu de base</p>
                            {% elseif (mask.warlords == 1) %}
                                <p>Exotique apparue avec Warlords Of New York</p>
                            {% endif %}
                        </div>
                        <p><a href="{{ path('editExoticArmor', {'id' : mask.id }) }}" title="Éditer l'armure" class="edit-link">Éditer l'armure</a></p>
                    </article>
                {% endfor %}
            </div>
            <div class="gear-list">
                <h2 id="chest" class="exotic-gear">Les torses</h2>
                {% for chest in chests %}
                    <article>
                        <h3>{{ chest.name }}</h3>
                        <div class="armor-desc">
                            <p>Attribut principal : {{ chest.mainAttribute }}</p>
                            <p>Attribut secondaire : {{ chest.secondAttribute1 }}</p>
                            {% if (chest.secondAttribute2 != null) %}
                                <p>Attribut secondaire 2 : {{ chest.secondAttribute2 }}</p>
                            {% endif %}
                            <p>{{ chest.talent1 }}</p>
                            <p>Mods : 
                                {% if (chest.mods == 0) %}
                                    Non
                                {% else %}
                                    Oui
                                {% endif %}
                            </p>
                            {% if (chest.warlords == 0) %}
                                <p>Exotique disponible dans le jeu de base</p>
                            {% elseif (chest.warlords == 1) %}
                                <p>Exotique apparue avec Warlords Of New York</p>
                            {% endif %}
                        </div>
                        <p><a href="{{ path('editExoticArmor', {'id' : chest.id }) }}" title="Éditer l'armure" class="edit-link">Éditer l'armure</a></p>
                    </article>
                {% endfor %}
            </div>
            <div class="gear-list">
                <h2 id="backpack" class="exotic-gear">Les sac à dos</h2>
                {% for backpack in backpacks %}
                    <article>
                        <h3>{{ backpack.name }}</h3>
                        <div class="armor-desc">
                            <p>Attribut principal : {{ backpack.mainAttribute }}</p>
                            {% if (backpack.secondAttribute1 != null) %}
                                <p>Attribut secondaire : {{ backpack.secondAttribute1 }}</p>
                            {% endif %}
                            {% if (backpack.secondAttribute2 != null) %}
                                <p>Attribut secondaire 2 : {{ backpack.secondAttribute2 }}</p>
                            {% endif %}
                            <p>{{ backpack.talent1 }}</p>
                            {% if (backpack.talent2 != null) %}
                                <p>{{ backpack.talent2 }}</p>
                            {% endif %}
                            <p>Mods : 
                                {% if (backpack.mods == 0) %}
                                    Non
                                {% else %}
                                    Oui
                                {% endif %}
                            </p>
                            {% if (backpack.warlords == 0) %}
                                <p>Exotique disponible dans le jeu de base</p>
                            {% elseif (backpack.warlords == 1) %}
                                <p>Exotique apparue avec Warlords Of New York</p>
                            {% endif %}
                        </div>
                        <p><a href="{{ path('editExoticArmor', {'id' : backpack.id }) }}" title="Éditer l'armure" class="edit-link">Éditer l'armure</a></p>
                    </article>
                {% endfor %}
            </div>
            <div class="gear-list">
                <h2 id="gloves" class="exotic-gear">Les gants</h2>
                {% for glove in gloves %}
                    <article>
                        <h3>{{ glove.name }}</h3>
                        <div class="armor-desc">
                            <p>Attribut principal : {{ glove.mainAttribute }}</p>
                            <p>Attribut secondaire : {{ glove.secondAttribute1 }}</p>
                            {% if (glove.secondAttribute2 != null) %}
                                <p>Attribut secondaire 2 : {{ glove.secondAttribute2 }}</p>
                            {% endif %}
                            <p>{{ glove.talent1 }}</p>
                            <p>Mods : 
                                {% if (glove.mods == 0) %}
                                    Non
                                {% else %}
                                    Oui
                                {% endif %}
                            </p>
                            {% if (glove.warlords == 0) %}
                                <p>Exotique disponible dans le jeu de base</p>
                            {% elseif (glove.warlords == 1) %}
                                <p>Exotique apparue avec Warlords Of New York</p>
                            {% endif %}
                        </div>
                        <p><a href="{{ path('editExoticArmor', {'id' : glove.id }) }}" title="Éditer l'armure" class="edit-link">Éditer l'armure</a></p>
                    </article>
                {% endfor %}
            </div>
            <div class="gear-list">
                <h2 id="holster" class="exotic-gear">Les holsters</h2>
                {% for holster in holsters %}
                    <article>
                        <h3>{{ holster.name }}</h3>
                        <div class="armor-desc">
                            <p>Attribut principal : {{ holster.mainAttribute }}</p>
                            <p>Attribut secondaire : {{ holster.secondAttribute1 }}</p>
                            {% if (holster.secondAttribute2 != null) %}
                                <p>Attribut secondaire 2 : {{ holster.secondAttribute2 }}</p>
                            {% endif %}
                            <p>{{ holster.talent1 }}</p>
                            <p>Mods : 
                                {% if (holster.mods == 0) %}
                                    Non
                                {% else %}
                                    Oui
                                {% endif %}
                            </p>
                            {% if (holster.warlords == 0) %}
                                <p>Exotique disponible dans le jeu de base</p>
                            {% elseif (holster.warlords == 1) %}
                                <p>Exotique apparue avec Warlords Of New York</p>
                            {% endif %}
                        </div>
                        <p><a href="{{ path('editExoticArmor', {'id' : holster.id }) }}" title="Éditer l'armure" class="edit-link">Éditer l'armure</a></p>
                    </article>
                {% endfor %}
            </div>
            <div class="gear-list">
                <h2 id="kneepads" class="exotic-gear">Les genouillères</h2>
                {% for kneepad in kneepads %}
                    <article>
                        <h3>{{ kneepad.name }}</h3>
                        <div class="armor-desc">
                            <p>Attribut principal : {{ kneepad.mainAttribute }}</p>
                            <p>Attribut secondaire : {{ kneepad.secondAttribute1 }}</p>
                            {% if (kneepad.secondAttribute2 != null) %}
                                <p>Attribut secondaire 2 : {{ kneepad.secondAttribute2 }}</p>
                            {% endif %}
                            <p>{{ kneepad.talent1 }}</p>
                            <p>Mods : 
                                {% if (kneepad.mods == 0) %}
                                    Non
                                {% else %}
                                    Oui
                                {% endif %}
                            </p>
                            {% if (kneepad.warlords == 0) %}
                                <p>Exotique disponible dans le jeu de base</p>
                            {% elseif (kneepad.warlords == 1) %}
                                <p>Exotique apparue avec Warlords Of New York</p>
                            {% endif %}
                        </div>
                        <p><a href="{{ path('editExoticArmor', {'id' : kneepad.id }) }}" title="Éditer l'armure" class="edit-link">Éditer l'armure</a></p>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}