{% extends "admin/adminBase.html.twig" %}

{% block title %}Éditer une marque - Division Wiki{% endblock %}

{% block body %}
    <div class="form">
        <h1>Éditer une marque</h1>

        {{ form_start(brandForm) }}
            {{ form_widget(brandForm) }}
            <div class="btn">
                <button class="btn-form">Mettre à jour la marque</button>
            </div>
        {{ form_end(brandForm) }}
    </div>
{% endblock %}