{% extends "admin/adminBase.html.twig" %}

{% block title %}Toutes les marques - Division Wiki{% endblock %}

{% block body %}
    <div class="admin-list">
        <h1>Toutes les marques</h1>

        <p><a href="{{ path('addBrand') }}" title="Ajouter une marque" class="add-link">Ajouter une marque</a></p>
        
        <div class="admin-article">
            {% for brand in brands %}
                <article>
                    <h3>{{ brand.name }}</h3>
                    <div class="brand-bonus">
                        <p>Bonus 1 pièce : {{ brand.bonus1 }}</p>
                        <p>Bonus 2 pièces : {{ brand.bonus2 }}</p>
                        <p>Bonus 3 pièces : {{ brand.bonus3 }}</p>
                        <p>{{ brand.description }}</p>
                        {% if (brand.warlord) == 0 %}
                            <p>Marque disponible dans le jeu de base</p>
                        {% elseif (brand.warlord) == 1 %}
                            <p>Marque apparue avec Warlords Of New York</p>                    
                        {% endif %}
                    </div>
                    <p><a href="{{ path('editBrand', { 'id': brand.id }) }}" title="Éditer la marque" class="edit-link">Éditer la marque</a></p>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}