{% extends "admin/adminBase.html.twig" %}

{% block title %}Ajouter une statistique d'arme - Division Wiki{% endblock %}

{% block body %}
    <div class="form">
        <h1>Ajouter une statistique d'arme</h1>

        {{ form_start(rollForm) }}
            {{ form_widget(rollForm) }}
            <div class="btn">
                <button class="btn-form">Ajouter les statistiques max</button>
            </div>
        {{ form_end(rollForm) }}
    </div>
{% endblock %}