{% extends "admin/adminBase.html.twig" %}

{% block title %}Max Roll des armures - Division Wiki{% endblock %}

{% block body %}
    <div class="admin-list">
        <h1>Max Roll des armes</h1>

        <p><a href="{{ path('addMaxRollWeapon') }}" title="Ajouter une statistique" class="add-link">Ajouter une statistique</a></p>

        <div class="admin-article armor-list">
            {% for roll in maxRolls %}
                <article>
                    <h2 class="premium-gear">{{ roll.weaponTypeId.typeName }}</h2>
                    <div class="armor-desc">
                        <p>Dégâts d'armes : {{ roll.weaponDamage }}%</p>
                        <p>Dégâts à la santé : {{ roll.healthDamage }}%</p>
                        <p>Dégâts aux protetions : {{ roll.damageToArmor }}%</p>
                        <p>Probabilité de coup critique : {{ roll.criticalHitChance }}%</p>
                        <p>Dégâts de coup critique : {{ roll.criticalHitDamage }}%</p>
                        <p>Dégâts sur cible non abritée : {{ roll.damageToTargetOutOfCover }}%</p>
                        <p>Dégâts de headshot : {{ roll.headshotDamage }}%</p>
                        <p>Dégâts de coup critique : {{ roll.criticalHitDamage }}%</p>
                        <p>Vitesse de rechargement : {{ roll.reloadSpeed }}%</p>
                        <p>Stabilité : {{ roll.stability }}%</p>
                        <p>Précision : {{ roll.accurancy }}%</p>
                        <p>Portée optimale : {{ roll.optimalRange }}%</p>
                        <p>Taille du chargeur : {{ roll.magazineSize }}%</p>
                        <p>Cadence de tir : {{ roll.rateOfFIre }}%</p>
                        <p>Vitesse de changement d'arme : {{ roll.swapSpeed }}%</p>
                    </div>

                    <p><a href="{{ path('editMaxRollWeapon', {'id' : roll.id }) }}" title="Éditer les statistiques" class="edit-link">Éditer les statistiques</a></p>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}