{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="form">
        <h1><i class="fa fa-user-circle"></i> Connexion</h1>

        <form method="post">
            {% if error %}
                <div class="alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecter en tant que {{ app.user.username }}, <a href="{{ path('logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <div id="login">
                <div>
                    <label for="inputUsername">Pseudo</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" placeholder="Votre pseudo" required autofocus>
                </div>

                <div>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Votre mot de passe" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>

            <div class="btn">
                <button class="btn-form" type="submit">Se connecter</button>
            </div>
        </form>
    </div>
{% endblock %}
