{% extends "base.html.twig" %}

{% block title %}Créer un compte utilisateur{% endblock %}

{% block body %}
    <div class="form">
        <h1><i class="fa fa-id-card"></i> Création d'un compte utilisateur</h1>

        {{ form_start(registerForm) }}
            {{ form_widget(registerForm) }}
            <div class="btn">
                <button class="btn-form">Créer son compte</button>
            </div>
        {{ form_end(registerForm) }}
    </div>
{% endblock %}