{% extends "base.html.twig" %}

{% block title %}Statistiques joueur - Division Wiki{% endblock %}

{% block body %}
    <div class="form">
        <h1><i class="fa fa-gamepad"></i> Statistiques d'un joueur</h1>

        {{ form_start(statsForm) }}
            {{ form_widget(statsForm) }}
            <div class="btn">
                <button class="btn-form">Rechercher</button>
            </div>
        {{ form_end(statsForm) }}
    </div>
{% endblock %}