{% extends "base.html.twig" %}

{% block title %}Statistiques joueur - Division Wiki{% endblock %}

{% block body %}
    <div class="stats">
        <div class="player-info">
            <img src="{{ content['data']['platformInfo']['avatarUrl'] }}" alt="Avatar joueur">
            <h1>{{ content['data']['platformInfo']['platformUserHandle'] }}</h1>
            <div class="player-level">
                <div class="gear-score">
                    <span>Gear Score</span>
                    <p>{{ content['data']['segments'][0]['stats']['latestGearScore']['value'] }}</p>
                </div>
                <div>
                    <span>Niveau joueur</span>
                    <p>{{ content['data']['segments'][0]['stats']['highestPlayerLevel']['value'] }}</p>
                </div>
            </div>
            <div class="review">
                <h4>Aperçu de jeu</h4>
                <div>
                    <span>Niveau DZ</span>
                    <p>{{  content['data']['segments'][0]['stats']['rankDZ']['value'] }}</p>
                </div>
                <div>
                    <span>Niveau conflit</span>
                    <p>{{ content['data']['segments'][0]['stats']['xPPvp']['value'] }}</p>
                </div>
                <div>
                    <span>Recommendations</span>
                    <p>{{ content['data']['segments'][0]['stats']['commendationCount']['value'] }}</p>
                </div>
                <div>
                    <span>Score de reco actuel</span>
                    <p>{{ content['data']['segments'][0]['stats']['commendationScore']['value'] | integerFilter }}</p>
                </div>
                <div>
                    <span>Morts avec spé Survivaliste</span>
                    <p>{{ content['data']['segments'][0]['stats']['killsSpecializationSurvivalist']['value'] | integerFilter }}</p>
                </div>
                <div>
                    <span>Morts avec spé Tireur d'élite</span>
                    <p>{{ content['data']['segments'][0]['stats']['killsSpecializationSharpshooter']['value'] | integerFilter }}</p>
                </div>
                <div>
                    <span>Morts avec spé Démolisseur</span>
                    <p>{{ content['data']['segments'][0]['stats']['killsSpecializationDemolitionist']['value'] | integerFilter }}</p>
                </div>
            </div>
        </div>

        <div class="player-stats">
            <div class="lifetime">
                <div class="lifetime-header">
                    <h4>Aperçu</h4>
                    <p>{{ content['data']['segments'][0]['stats']['timePlayed']['displayValue'] }}</p>
                </div>
                <div class="lifetime-details">
                    <div>
                        <h5>Morts PVP</h5>
                        <p>{{ content['data']['segments'][0]['stats']['killsPvP']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Morts PVE</h5>
                        <p>{{ content['data']['segments'][0]['stats']['killsNpc']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Morts par compétences</h5>
                        <p>{{ content['data']['segments'][0]['stats']['killsSkill']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Morts par headshot</h5>
                        <p>{{ content['data']['segments'][0]['stats']['headshots']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Objets récupérés</h5>
                        <p>{{ content['data']['segments'][0]['stats']['itemsLooted']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Crédits</h5>
                        <p>{{ content['data']['segments'][0]['stats']['eCreditBalance']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Recommendations</h5>
                        <p>{{ content['data']['segments'][0]['stats']['commendationCount']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Score de reco actuel</h5>
                        <p>{{ content['data']['segments'][0]['stats']['commendationScore']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Morts avec spé Tireur d'élite</h5>
                        <p>{{ content['data']['segments'][0]['stats']['killsSpecializationSharpshooter']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Morts avec spé Survivaliste</h5>
                        <p>{{ content['data']['segments'][0]['stats']['killsSpecializationSurvivalist']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Morts avec spé Démolisseur</h5>
                        <p>{{ content['data']['segments'][0]['stats']['killsSpecializationDemolitionist']['value'] | integerFilter }}</p>
                    </div>
                </div>
            </div>

            <div class="dark-zone">
                <div class="dark-zone-header">
                    <h4>Dark Zone</h4>
                    <p>{{ content['data']['segments'][0]['stats']['timePlayedDarkZone']['displayValue'] }}</p>
                </div>
                <div class="dark-zone-details">
                    <div>
                        <h5>Niveau Dark Zone</h5>
                        <p>{{ content['data']['segments'][0]['stats']['rankDZ']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Expérience Dark Zone</h5>
                        <p>{{ content['data']['segments'][0]['stats']['xPDZ']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Temps de jeu en Dark Zone</h5>
                        <p>{{ content['data']['segments'][0]['stats']['timePlayedDarkZone']['displayValue'] }}</p>
                    </div>
                    <div>
                        <h5>Rogues tués</h5>
                        <p>{{ content['data']['segments'][0]['stats']['roguesKilled']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Temps passé en rogue</h5>
                        <p>{{ content['data']['segments'][0]['stats']['timePlayedRogue']['displayValue'] }}</p>
                    </div>
                    <div>
                        <h5>Temps max passé en rogue</h5>
                        <p>{{ content['data']['segments'][0]['stats']['timePlayedRogueLongest']['displayValue'] }}</p>
                    </div>
                    <div>
                        <h5>Hyènes tués</h5>
                        <p>{{ content['data']['segments'][0]['stats']['killsFactionDzBlackbloc']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>True Sons tués</h5>
                        <p>{{ content['data']['segments'][0]['stats']['killsFactionDzCultists']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Parias tués</h5>
                        <p>{{ content['data']['segments'][0]['stats']['killsFactionDzMilitia']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Black Tusk tués</h5>
                        <p>{{ content['data']['segments'][0]['stats']['killsFactionDzEndgame']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Élites tués</h5>
                        <p>{{ content['data']['segments'][0]['stats']['killsRoleDzElite']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Nommés tués</h5>
                        <p>{{ content['data']['segments'][0]['stats']['killsRoleDzNamed']['value'] | integerFilter }}</p>
                    </div>
                </div>
            </div>

            <div class="pve">
                <div class="pve-header">
                    <h4>PVE</h4>
                    <p>{{ content['data']['segments'][0]['stats']['timePlayedPve']['displayValue'] }}</p>
                </div>
                <div class="pve-details">
                    <div>
                        <h5>Gear Score</h5>
                        <p>{{ content['data']['segments'][0]['stats']['latestGearScore']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Niveau joueur</h5>
                        <p>{{ content['data']['segments'][0]['stats']['highestPlayerLevel']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Expérience PVE</h5>
                        <p>{{ content['data']['segments'][0]['stats']['xPPve']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Temps de jeu PVE</h5>
                        <p>{{ content['data']['segments'][0]['stats']['timePlayedPve']['displayValue'] }}</p>
                    </div>
                    <div>
                        <h5>Élites tués</h5>
                        <p>{{ content['data']['segments'][0]['stats']['killsRoleElite']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Nommés tués</h5>
                        <p>{{ content['data']['segments'][0]['stats']['killsRoleNamed']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Hyènes tués</h5>
                        <p>{{ content['data']['segments'][0]['stats']['killsFactionBlackbloc']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>True Sons tués</h5>
                        <p>{{ content['data']['segments'][0]['stats']['killsFactionCultists']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Parias tués</h5>
                        <p>{{ content['data']['segments'][0]['stats']['killsFactionMilitia']['value'] | integerFilter }}</p>
                    </div>
                    <div>
                        <h5>Blask Tusk tués</h5>
                        <p>{{ content['data']['segments'][0]['stats']['killsFactionEndgame']['value'] | integerFilter }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}