{% extends "admin/adminBase.html.twig" %}

{% block title %}Ajouter une arme exotique - Division Wiki{% endblock %}

{% block body %}
    <div class="form">
        <h1>Ajouter une arme exotique</h1>

        {{ form_start(weaponForm) }}
            {{ form_widget(weaponForm) }}
            <div class="btn">
                <button class="btn-form">Ajouter l'arme</button>
            </div>
        {{ form_end(weaponForm) }}
    </div>
{% endblock %}