{% extends "admin/adminBase.html.twig" %}

{% block title %}Liste des armes exotiques - Division Wiki{% endblock %}

{% block body %}
    <div class="admin-list">
        <h1>Toutes les armes exotiques</h1>

        <p><a href="{{ path('addExoticWeapon') }}" title="Ajouter une arme exotique" class="add-link">Ajouter une arme exotique</a></p>


        <div class="admin-sidebar">
            <h2 class="exotic-gear">Type d'armes</h2>
            <ul>
                <li><a href="#shotgun" title="Les fusils calibre 12">Les fusils calibre 12</a></li>
                <li><a href="#rifle" title="Les fusils">Les fusils</a></li>
                <li><a href="#assaultRifle" title="Les fusils d'assaut">Les fusils d'assaut</a></li>
                <li><a href="#lightMachineGun" title="Les fusil mitrailleur">Les fusil mitrailleur</a></li>
                <li><a href="#marksmanRifle" title="Les fusils de précision">Les fusils de précision</a></li>
                <li><a href="#pistol" title="Les pistolets">Les pistolets</a></li>
                <li><a href="#subMachineGun" title="Les pistolets-mitrailleurs">Les pistolets-mitrailleurs</a></li>
            </ul>
        </div>

        <div class="admin-article">
            <div class="weapon-list">
                <h2 id="shotgun" class="exotic-gear">Les fusils calibre 12</h2>
                {% for shotgun in shotguns %}
                    <article>
                        <h3>{{ shotgun.name }}</h3>
                        <div class="weapon-desc">
                            <h4>{{ shotgun.variantWeapon }}</h4>
                            <p>Attribut essentiel 1 : {{ shotgun.mainAttribute1 }}</p>
                            <p>Attribut essentiel 2 : {{ shotgun.mainAttribute2 }}</p>
                            <p>Attribut secondaire : {{ shotgun.secondAttribute }}</p>
                            <p>Dégâts de base : {{ shotgun.baseDamage }}</p>
                            <p>Portée optimale : {{ shotgun.optimalRange }}m</p>
                            <p>Cadence de tir : {{ shotgun.rpm }}</p>
                            <p>Taille du chargeur : {{ shotgun.magSize }} balles</p>
                            <p>Vitesse de rechargement : {{ shotgun.relaodSpeed }}s</p>
                            <p>Multiplicateur de headshot : {{ shotgun.headshotMultiplicator }}%</p>
                            <p>Talent :<br> {{ shotgun.talent1 }}</p>
                            <p>{{ shotgun.mods }}</p>
                            {% if (shotgun.warlords == 0) %}
                                <p>Exotique disponible dans le jeu de base</p>
                            {% elseif (shotgun.warlords == 1) %}
                                <p>Exotique apparue avec Warlords Of New York</p>
                            {% endif %}
                        </div>
                        <p><a href="{{ path('editExoticWeapon', {'id': shotgun.id }) }}" title="Éditer l'arme" class="edit-link">Éditer l'arme</a></p>
                    </article>
                {% endfor %}
            </div>

            <div class="weapon-list">
                <h2 id="rifles" class="exotic-gear">Les fusils</h2>
                {% for rifle in rifles %}
                    <article>
                        <h3>{{ rifle.name }}</h3>
                        <div class="weapon-desc">
                            <h4>{{ rifle.variantWeapon }}</h4>
                            <p>Attribut essentiel 1 : {{ rifle.mainAttribute1 }}</p>
                            <p>Attribut essentiel 2 : {{ rifle.mainAttribute2 }}</p>
                            <p>Attribut secondaire : {{ rifle.secondAttribute }}</p>
                            <p>Dégâts de base : {{ rifle.baseDamage }}</p>
                            <p>Portée optimale : {{ rifle.optimalRange }}m</p>
                            <p>Cadence de tir : {{ rifle.rpm }}</p>
                            <p>Taille du chargeur : {{ rifle.magSize }} balles</p>
                            <p>Vitesse de rechargement : {{ rifle.relaodSpeed }}s</p>
                            <p>Multiplicateur de headshot : {{ rifle.headshotMultiplicator }}%</p>
                            <p>Talent :<br> {{ rifle.talent1 }}</p>
                            <p>{{ rifle.mods }}</p>
                            {% if (rifle.warlords == 0) %}
                                <p>Exotique disponible dans le jeu de base</p>
                            {% elseif (rifle.warlords == 1) %}
                                <p>Exotique apparue avec Warlords Of New York</p>
                            {% endif %}
                        </div>
                        <p><a href="{{ path('editExoticWeapon', {'id': rifle.id }) }}" title="Éditer l'arme" class="edit-link">Éditer l'arme</a></p>
                    </article>
                {% endfor %}
            </div>

            <div class="weapon-list">
                <h2 id="assaultRifle" class="exotic-gear">Les fusils d'assaut</h2>
                {% for assaultRifle in assaultRifles %}
                    <article>
                        <h3>{{ assaultRifle.name }}</h3>
                        <div class="weapon-desc">
                            <h4>{{ assaultRifle.variantWeapon }}</h4>
                            <p>Attribut essentiel 1 : {{ assaultRifle.mainAttribute1 }}</p>
                            <p>Attribut essentiel 2 : {{ assaultRifle.mainAttribute2 }}</p>
                            <p>Attribut secondaire : {{ assaultRifle.secondAttribute }}</p>
                            <p>Dégâts de base : {{ assaultRifle.baseDamage }}</p>
                            <p>Portée optimale : {{ assaultRifle.optimalRange }}m</p>
                            <p>Cadence de tir : {{ assaultRifle.rpm }}</p>
                            <p>Taille du chargeur : {{ assaultRifle.magSize }} balles</p>
                            <p>Vitesse de rechargement : {{ assaultRifle.relaodSpeed }}s</p>
                            <p>Multiplicateur de headshot : {{ assaultRifle.headshotMultiplicator }}%</p>
                            <p>Talent :<br> {{ assaultRifle.talent1 }}</p>
                            {% if (assaultRifle.talent2 != NULL) %}
                                <p>Talent secondaire :<br> {{ assaultRifle.talent2 }}</p>
                            {% endif %}
                            <p>{{ assaultRifle.mods }}</p>
                            {% if (assaultRifle.warlords == 0) %}
                                <p>Exotique disponible dans le jeu de base</p>
                            {% elseif (assaultRifle.warlords == 1) %}
                                <p>Exotique apparue avec Warlords Of New York</p>
                            {% endif %}
                        </div>
                        <p><a href="{{ path('editExoticWeapon', {'id': assaultRifle.id }) }}" title="Éditer l'arme" class="edit-link">Éditer l'arme</a></p>
                    </article>
                {% endfor %}
            </div>

            <div class="weapon-list">
                <h2 id="lightMachineGun" class="exotic-gear">Les fusils mitrailleurs</h2>
                {% for lightMachineGun in lightMachineGuns %}
                    <article>
                        <h3>{{ lightMachineGun.name }}</h3>
                        <div class="weapon-desc">
                            <h4>{{ lightMachineGun.variantWeapon }}</h4>
                            <p>Attribut essentiel 1 : {{ lightMachineGun.mainAttribute1 }}</p>
                            <p>Attribut essentiel 2 : {{ lightMachineGun.mainAttribute2 }}</p>
                            <p>Attribut secondaire : {{ lightMachineGun.secondAttribute }}</p>
                            <p>Dégâts de base : {{ lightMachineGun.baseDamage }}</p>
                            <p>Portée optimale : {{ lightMachineGun.optimalRange }}m</p>
                            <p>Cadence de tir : {{ lightMachineGun.rpm }}</p>
                            <p>Taille du chargeur : {{ lightMachineGun.magSize }} balles</p>
                            <p>Vitesse de rechargement : {{ lightMachineGun.relaodSpeed }}s</p>
                            <p>Multiplicateur de headshot : {{ lightMachineGun.headshotMultiplicator }}%</p>
                            <p>Talent :<br> {{ lightMachineGun.talent1 }}</p>
                            <p>{{ lightMachineGun.mods }}</p>
                            {% if (lightMachineGun.warlords == 0) %}
                                <p>Exotique disponible dans le jeu de base</p>
                            {% elseif (lightMachineGun.warlords == 1) %}
                                <p>Exotique apparue avec Warlords Of New York</p>
                            {% endif %}
                        </div>
                        <p><a href="{{ path('editExoticWeapon', {'id': lightMachineGun.id }) }}" title="Éditer l'arme" class="edit-link">Éditer l'arme</a></p>
                    </article>
                {% endfor %}
            </div>

            <div class="weapon-list">
                <h2 id="marksmanRifle" class="exotic-gear">Les fusils de précision</h2>
                {% for marksmanRifle in marksmanRifles %}
                    <article>
                        <h3>{{ marksmanRifle.name }}</h3>
                        <div class="weapon-desc">
                            <h4>{{ marksmanRifle.variantWeapon }}</h4>
                            <p>Attribut essentiel 1 : {{ marksmanRifle.mainAttribute1 }}</p>
                            <p>Attribut essentiel 2 : {{ marksmanRifle.mainAttribute2 }}</p>
                            <p>Attribut secondaire : {{ marksmanRifle.secondAttribute }}</p>
                            <p>Dégâts de base : {{ marksmanRifle.baseDamage }}</p>
                            <p>Portée optimale : {{ marksmanRifle.optimalRange }}m</p>
                            <p>Cadence de tir : {{ marksmanRifle.rpm }}</p>
                            <p>Taille du chargeur : {{ marksmanRifle.magSize }} balles</p>
                            <p>Vitesse de rechargement : {{ marksmanRifle.relaodSpeed }}s</p>
                            <p>Talent :<br> {{ marksmanRifle.talent1 }}</p>
                            <p>{{ marksmanRifle.mods }}</p>
                            {% if (marksmanRifle.warlords == 0) %}
                                <p>Exotique disponible dans le jeu de base</p>
                            {% elseif (marksmanRifle.warlords == 1) %}
                                <p>Exotique apparue avec Warlords Of New York</p>
                            {% endif %}
                        </div>
                        <p><a href="{{ path('editExoticWeapon', {'id': marksmanRifle.id }) }}" title="Éditer l'arme" class="edit-link">Éditer l'arme</a></p>
                    </article>
                {% endfor %}
            </div>

            <div class="weapon-list">
                <h2 id="pistol" class="exotic-gear">Les pistolets</h2>
                {% for pistol in pistols %}
                    <article>
                        <h3>{{ pistol.name }}</h3>
                        <div class="weapon-desc">
                            <h4>{{ pistol.variantWeapon }}</h4>
                            <p>Attribut essentiel : {{ pistol.mainAttribute1 }}</p>
                            <p>Attribut secondaire : {{ pistol.secondAttribute }}</p>
                            <p>Dégâts de base : {{ pistol.baseDamage }}</p>
                            <p>Portée optimale : {{ pistol.optimalRange }}m</p>
                            <p>Cadence de tir : {{ pistol.rpm }}</p>
                            <p>Taille du chargeur : {{ pistol.magSize }} balles</p>
                            <p>Vitesse de rechargement : {{ pistol.relaodSpeed }}s</p>
                            <p>Multiplicateur de headshot : {{ pistol.headshotMultiplicator }}%</p>
                            <p>Talent :<br> {{ pistol.talent1 }}</p>
                            <p>{{ pistol.mods }}</p>
                            {% if (pistol.warlords == 0) %}
                                <p>Exotique disponible dans le jeu de base</p>
                            {% elseif (pistol.warlords == 1) %}
                                <p>Exotique apparue avec Warlords Of New York</p>
                            {% endif %}
                        </div>
                        <p><a href="{{ path('editExoticWeapon', {'id': pistol.id }) }}" title="Éditer l'arme" class="edit-link">Éditer l'arme</a></p>
                    </article>
                {% endfor %}
            </div>

            <div class="weapon-list">
                <h2 id="subMachineGun" class="exotic-gear">Les pistolets-mitrailleurs</h2>
                {% for subMachineGun in subMachineGuns %}
                    <article>
                        <h3>{{ subMachineGun.name }}</h3>
                        <div class="weapon-desc">
                            <h4>{{ subMachineGun.variantWeapon }}</h4>
                            <p>Attribut essentiel 1 : {{ subMachineGun.mainAttribute1 }}</p>
                            <p>Attribut essentiel 2 : {{ subMachineGun.mainAttribute2 }}</p>
                            <p>Attribut secondaire : {{ subMachineGun.secondAttribute }}</p>
                            <p>Dégâts de base : {{ subMachineGun.baseDamage }}</p>
                            <p>Portée optimale : {{ subMachineGun.optimalRange }}m</p>
                            <p>Cadence de tir : {{ subMachineGun.rpm }}</p>
                            <p>Taille du chargeur : {{ subMachineGun.magSize }} balles</p>
                            <p>Vitesse de rechargement : {{ subMachineGun.relaodSpeed }}s</p>
                            <p>Multiplicateur de headshot : {{ subMachineGun.headshotMultiplicator }}%</p>
                            <p>Talent :<br> {{ subMachineGun.talent1 }}</p>
                            <p>{{ subMachineGun.mods }}</p>
                            {% if (subMachineGun.warlords == 0) %}
                                <p>Exotique disponible dans le jeu de base</p>
                            {% elseif (subMachineGun.warlords == 1) %}
                                <p>Exotique apparue avec Warlords Of New York</p>
                            {% endif %}
                        </div>
                        <p><a href="{{ path('editExoticWeapon', {'id': subMachineGun.id }) }}" title="Éditer l'arme" class="edit-link">Éditer l'arme</a></p>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}